Repository remix-run/react-router, pull requests merged in 2022-11, with the labels that each got.

#9511 Updates to static handler for Remix integration
  .changeset/proud-timers-tickle.md
  package.json
  packages/react-router-dom/__tests__/nav-link-active-test.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed

#9557 Fix broken links in the deferred data guide
  contributors.yml
  docs/guides/deferred.md
Labels: CLA Signed

#9399 docs(components/form): fix typo
  contributors.yml
  docs/components/form.md
Labels: docs, CLA Signed

#9440 docs(components/await): fix typo
  contributors.yml
  docs/components/await.md
Labels: docs, CLA Signed

#9592 small fix
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#9596 doc: Update StackBlitz link
  contributors.yml
  examples/notes/README.md
Labels: docs, CLA Signed

#9606 fix: correct FormImpl's displayName
  contributors.yml
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#9609 docs: Fix link in `shouldRevalidate` docs
  contributors.yml
  docs/route/should-revalidate.md
Labels: CLA Signed

#9545 docs: add docs for default error element
  docs/route/error-element.md
Labels: docs, CLA Signed

#9612 docs(guide/deferred): Fixed code highlights in details element
  contributors.yml
  docs/guides/deferred.md
Labels: docs, CLA Signed

#9479 chore(react-router): fix `useMatch`'s description
  contributors.yml
  packages/react-router/lib/hooks.tsx
Labels: docs, CLA Signed

#9591 fix: support basename in static routers
  .changeset/funny-oranges-arrive.md
  package.json
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/__tests__/static-link-test.tsx
  packages/react-router-dom/server.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, react-router-dom, router

#9597 fix: preserve method on 307/308 redirects
  .changeset/stale-coats-smoke.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed, router

#9631 Updates for SSR + Remix integration
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#9571 chore: update workflows
  .github/workflows/format.yml
  .github/workflows/no-response.yml
  .github/workflows/release-experimental.yml
  .github/workflows/test.yml
Labels: CLA Signed

#9572 chore: enable Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: CLA Signed

#9632 chore: Update version for release (pre)
  .changeset/blue-cycles-check.md
  .changeset/pre.json
  .changeset/proud-timers-tickle.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9639 docs(routers/create-hash-router): fix highlighting
  contributors.yml
  docs/routers/create-hash-router.md
Labels: docs, CLA Signed

#9643 fix: update url links on templates and JS docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  contributors.yml
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/utils.ts
Labels: CLA Signed

#9644 chore: update docs links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/start/tutorial.md
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/index.tsx
  packages/react-router/CHANGELOG.md
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/CHANGELOG.md
  packages/router/utils.ts
Labels: docs, CLA Signed

#9647 Ensure backwards-compatibility with navigator.encodeLocation
  .changeset/hungry-eyes-cheat.md
  packages/react-router-dom/index.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#9648 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9654 Respect replace behavior on external redirects
  .changeset/itchy-phones-rush.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9655 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9651 Add missing `Await` import to deferred guide
  contributors.yml
  docs/guides/deferred.md
Labels: CLA Signed

#9657 docs(route/action): Add missing`request` parameter
  contributors.yml
  docs/route/action.md
Labels: CLA Signed

#9650 feat: optional params and static segments
  .changeset/new-taxis-stare.md
  contributors.yml
  package.json
  packages/react-router/__tests__/path-matching-test.tsx
  packages/router/utils.ts
Labels: CLA Signed, react-router, router

#9662 chore: Update version for release
  .changeset/blue-cycles-check.md
  .changeset/flat-trainers-speak.md
  .changeset/funny-oranges-arrive.md
  .changeset/hungry-eyes-cheat.md
  .changeset/itchy-phones-rush.md
  .changeset/pre.json
  .changeset/pretty-dolls-bathe.md
  .changeset/proud-timers-tickle.md
  .changeset/stale-coats-smoke.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9506 Fix inadvertent support for partial dynamic parameters
  .changeset/happy-balloons-buy.md
  package.json
  packages/react-router/__tests__/generatePath-test.tsx
  packages/react-router/__tests__/path-matching-test.tsx
  packages/react-router/__tests__/useRoutes-test.tsx
  packages/router/utils.ts
Labels: CLA Signed, react-router, router

#9660 Fix loader request method
  .changeset/pretty-kiwis-study.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router
