Repository remix-run/react-router, pull requests merged in 2022-12, with the labels that each got.

#9680 Fix loader request method (#9660)
  .changeset/pretty-kiwis-study.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9679 Update development docs for hotfixes
  DEVELOPMENT.md
Labels: CLA Signed

#9682 fix(router): fix URL creation in Cloudflare Pages
  .changeset/new-kiwis-confess.md
  package.json
  packages/router/history.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed, router

#9683 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9690 Remove instanceof Response checks in favor of isResponse
  .changeset/curvy-hairs-deliver.md
  packages/router/router.ts
Labels: CLA Signed

#9693 fix exemplary code in useFetchers docs
  contributors.yml
  docs/hooks/use-fetchers.md
Labels: CLA Signed

#9696 Add requestContext to staticHandler query/queryRoute
  .changeset/afraid-snakes-cough.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed

#9697 chore: Update version for release (pre)
  .changeset/afraid-snakes-cough.md
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9700 Fix: action function throws an error, asking for something to return
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#9701 chore: Update version for release
  .changeset/afraid-snakes-cough.md
  .changeset/curvy-hairs-deliver.md
  .changeset/new-kiwis-confess.md
  .changeset/pre.json
  .changeset/pretty-kiwis-study.md
  .changeset/swift-lemons-cough.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9684 fix: explode optional segments for relative paths in nested routes
  packages/react-router/__tests__/path-matching-test.tsx
  packages/router/utils.ts
Labels: CLA Signed

#9695 feat: GET forms now expose a submission on the loading navigation
  .changeset/thin-kids-eat.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed

#9708 docs(start/overview.md): Fix typo
  contributors.yml
  docs/start/overview.md
Labels: CLA Signed

#9712 docs(start/tutorial.md): remove unused import
  contributors.yml
  docs/start/tutorial.md
Labels: docs, CLA Signed

#9718 docs(components/link.md): Fix typo
  contributors.yml
  docs/components/link.md
Labels: CLA Signed

#9702 Fix error boundary tracking for multiple errors bubbling to the same boundary
  .changeset/violet-rules-rest.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#9721 Fix loader request on document POST requests
  .changeset/kind-dodos-shop.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#9723 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9725 docs(route/route): Add missing `handle` prop
  contributors.yml
  docs/route/route.md
Labels: docs, CLA Signed

#9727 fix bug with nested optional segments
  .changeset/slow-drinks-cheer.md
  packages/react-router/__tests__/path-matching-test.tsx
  packages/router/utils.ts
Labels: CLA Signed

#9730 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9733 docs(guides/deferred): fix typo
  docs/guides/deferred.md
Labels: docs, CLA Signed

#9664 Updates for Remix on RR 6.4
  .changeset/afraid-kiwis-grow.md
  .changeset/bright-gorillas-pump.md
  .changeset/empty-teachers-tie.md
  .changeset/shiny-pants-decide.md
  .changeset/small-dots-try.md
  docs/hooks/use-before-unload.md
  package.json
  packages/react-router-dom/.eslintrc
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router/.eslintrc
  packages/router/.eslintrc
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, react-router-dom, router

#9740 chore: Update version for release
  .changeset/happy-balloons-buy.md
  .changeset/kind-dodos-shop.md
  .changeset/new-taxis-stare.md
  .changeset/pre.json
  .changeset/pretty-kiwis-study.md
  .changeset/slow-drinks-cheer.md
  .changeset/thin-kids-eat.md
  .changeset/violet-rules-rest.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9734 Update replace logic for form submissions/redirects
  .changeset/kind-gifts-reflect.md
  docs/components/form.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#9738 Stabilize SSR data router APIs
  .changeset/polite-coins-tap.md
  examples/ssr-data-router/README.md
  examples/ssr-data-router/src/entry.server.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/server.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9735 Disallow useLoaderData in errorElement
  .changeset/ninety-moles-bake.md
  .changeset/rare-clouds-behave.md
  package.json
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, react-router, router

#9742 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9745 docs(start/tutorial.md): fix filename
  docs/start/tutorial.md
Labels: docs

#9747 docs(start/tutorial.md): fix 404 example code highlight
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#9771 chore: Update version for release
  .changeset/afraid-kiwis-grow.md
  .changeset/bright-gorillas-pump.md
  .changeset/empty-teachers-tie.md
  .changeset/kind-gifts-reflect.md
  .changeset/ninety-moles-bake.md
  .changeset/polite-coins-tap.md
  .changeset/pre.json
  .changeset/rare-clouds-behave.md
  .changeset/shiny-pants-decide.md
  .changeset/small-dots-try.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9777 Send submission to shouldRevalidate on action redirects
  .changeset/fifty-kiwis-sniff.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9780 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9772 Fix: reset actionData on action redirect to current location
  .changeset/new-news-remember.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#9782 Fix shouldRevalidate on fetcher action redirect
  .changeset/swift-bottles-cheat.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9783 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9785 docs(start/overview.md): Fix typo
  contributors.yml
  docs/start/overview.md
Labels: CLA Signed

#9786 chore: Update version for release
  .changeset/fifty-kiwis-sniff.md
  .changeset/new-news-remember.md
  .changeset/pre.json
  .changeset/swift-bottles-cheat.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed
