Repository remix-run/react-router, pull requests merged in 2023-02, with the labels that each got.

#10015 docs(start/tutorial): fix EditContact component typo
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10020 docs(hooks/use-matches): Fix crumb route
  contributors.yml
  docs/hooks/use-matches.md
Labels: docs, CLA Signed

#9994 Added better detection for absolute urls in link component
  .changeset/afraid-scissors-rhyme.md
  packages/react-router-dom/__tests__/link-href-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10025 docs(start/tutorial) fix: highlighting for changing `<form>` to `<Form>`
  docs/start/tutorial.md
Labels: CLA Signed

#10026 chore(deps): bump examples to latest
  examples/auth/package-lock.json
  examples/auth/package.json
  examples/basic/package-lock.json
  examples/basic/package.json
  examples/custom-filter-link/package-lock.json
  examples/custom-filter-link/package.json
  examples/custom-link/package-lock.json
  examples/custom-link/package.json
  examples/custom-query-parsing/package-lock.json
  examples/custom-query-parsing/package.json
  examples/data-router/package-lock.json
  examples/data-router/package.json
  examples/error-boundaries/package-lock.json
  examples/error-boundaries/package.json
  examples/lazy-loading/package-lock.json
  examples/lazy-loading/package.json
  examples/modal/package-lock.json
  examples/modal/package.json
  examples/multi-app/package-lock.json
  examples/multi-app/package.json
  examples/navigation-blocking/package-lock.json
  examples/navigation-blocking/package.json
  examples/notes/package-lock.json
  examples/notes/package.json
  examples/route-objects/package-lock.json
  examples/route-objects/package.json
  examples/scroll-restoration/package-lock.json
  examples/scroll-restoration/package.json
  examples/search-params/package-lock.json
  examples/search-params/package.json
  examples/ssr-data-router/package-lock.json
  examples/ssr-data-router/package.json
  examples/ssr/package-lock.json
  examples/ssr/package.json
Labels: CLA Signed

#10033 Only check for differing origin on absolute URL redirects
  .changeset/thirty-frogs-wave.md
  packages/router/router.ts
Labels: CLA Signed

#10032 ci: use current branch when gathering PRs for stable releases
  .github/workflows/release-comments.yml
  .github/workflows/release.yml
  scripts/release/comment.ts
  scripts/release/constants.ts
  scripts/release/find-release-from-changeset.js
  scripts/release/github.ts
Labels: CLA Signed

#10029 Fix partial object (search or hash only) pathnames losing current path
  .changeset/violet-apes-pay.md
  packages/react-router-dom/__tests__/link-click-test.tsx
  packages/react-router-dom/__tests__/link-href-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10030 Remove inaccurate console warning for POP navigations
  .changeset/healthy-moons-compete.md
  packages/react-router/lib/hooks.tsx
  packages/router/router.ts
Labels: CLA Signed

#10035 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10036 ci: uppercase ENV, changesets output is camelCase
  .github/workflows/release.yml
  scripts/release/find-release-from-changeset.js
Labels: CLA Signed

#10056 chore: Update version for release
  .changeset/afraid-scissors-rhyme.md
  .changeset/healthy-moons-compete.md
  .changeset/pre.json
  .changeset/thirty-frogs-wave.md
  .changeset/violet-apes-pay.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10057 ci(release): fix `find_package_version` output
  .github/workflows/release.yml
Labels: CLA Signed

#10059 (docs/guides/deferred.md): fix highlighting for deferred loader return
  docs/guides/deferred.md
Labels: CLA Signed

#10055 Updates to manual publish scripts
  DEVELOPMENT.md
  package.json
  scripts/publish.js
  scripts/version.js
Labels: CLA Signed

#10065 Sync up release docs with react router
  DEVELOPMENT.md
Labels: CLA Signed

#10046 Fix useBlocker to return IDLE_BLOCKER during SSR
  .changeset/long-jokes-wait.md
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#10082 docs: Fix link to Outlet component
  contributors.yml
  docs/route/route.md
Labels: CLA Signed

#10077 fix(defer): respect headers and status
  .changeset/nasty-carrots-breathe.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#10087 chore: allow local build dir to be absolute path
  rollup.utils.js
Labels: CLA Signed

#10093 docs(start/tutorial): remove unnecessary dependency
  contributors.yml
  docs/start/tutorial.md
Labels: docs, CLA Signed

#10096 fix demo error
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10099 Revert "docs(start/tutorial): remove unnecessary dependency"
  docs/start/tutorial.md
Labels: docs, CLA Signed

#10068 __staticRouterHydrationData html tag escape
  .changeset/witty-melons-sip.md
  contributors.yml
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#10066 Move invariant to UNSAFE_ export
  .changeset/fluffy-forks-attack.md
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/index.ts
Labels: CLA Signed

#10101 Update tutorial.md
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10105 docs(route/route): fix an example code mistake
  contributors.yml
  docs/route/route.md
Labels: CLA Signed

#10113 Update tutorial.md
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10116 loader is async
  docs/utils/defer.md
Labels: CLA Signed

#9996 feat: mutable route tree
  .changeset/quick-yaks-join.md
  package.json
  packages/react-router-dom/server.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10124 chore: Update version for release (pre)
  .changeset/long-jokes-wait.md
  .changeset/pre.json
  .changeset/witty-melons-sip.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10112 Hotfix: absolute URLs on server router
  .changeset/lovely-cheetahs-sip.md
  contributors.yml
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/__tests__/polyfills/SubmitEvent.submitter.ts
  packages/react-router-dom/__tests__/setup.ts
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10128 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#10076 fix(router): "hard" redirect to different paths on the same origin if redirect location does not contain basename
  .changeset/wet-dogs-check.md
  contributors.yml
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10129 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10132 docs(tutorial): Fix logic loader data in edit route
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10135 fix: treat absolute/same-origin/different-basename <Link to> values as external
  .changeset/big-olives-doubt.md
  package.json
  packages/react-router-dom/__tests__/link-click-test.tsx
  packages/react-router-dom/__tests__/link-push-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10140 docs(start/tutorial): fix highlighting in "URL Params in Loaders" step
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10142 chore: Update version for release
  .changeset/big-olives-doubt.md
  .changeset/fluffy-forks-attack.md
  .changeset/long-jokes-wait.md
  .changeset/lovely-cheetahs-sip.md
  .changeset/nasty-carrots-breathe.md
  .changeset/pre.json
  .changeset/quick-yaks-join.md
  .changeset/wet-dogs-check.md
  .changeset/witty-melons-sip.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed
