Repository remix-run/react-router, pull requests merged in 2023-01, with the labels that each got.

#9803 test(useNavigate): navigate with an defined and empty query string
  contributors.yml
  packages/react-router/__tests__/useNavigate-test.tsx
Labels: CLA Signed

#9805 Ensure consistent component tree for useId
  .changeset/three-ladybugs-clap.md
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router-native/index.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#9816 chore: Update version for release (pre)
  .changeset/pre.json
  .changeset/three-ladybugs-clap.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9828 Add missing `await` in errorElement example code in docs
  docs/route/error-element.md
Labels: CLA Signed

#9835 docs(components/await): fix typo
  contributors.yml
  docs/components/await.md
Labels: CLA Signed

#9824 test(react-router-dom): streamline jsdom submitter bug workaround
  .changeset/slow-trees-notice.md
  contributors.yml
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/polyfills/SubmitEvent.submitter.ts
  packages/react-router-dom/__tests__/setup.ts
Labels: CLA Signed

#9838 chore: Update version for release
  .changeset/pre.json
  .changeset/three-ladybugs-clap.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9877 docs: fix build badge
  README.md
  contributors.yml
Labels: CLA Signed

#9839 Update github New Issue workflow to mimic Remix
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_isse.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  examples/data-router/src/app.tsx
  examples/data-router/src/routes.tsx
Labels: CLA Signed

#9760 defer - initial attempt at exposing required data to ssr implementations
  .changeset/eight-tomatoes-breathe.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed, router

#9814 Fix URL creation with memory history
  .changeset/great-owls-juggle.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/router/__tests__/browser-test.ts
  packages/router/__tests__/custom-environment.js
  packages/router/__tests__/hash-base-test.ts
  packages/router/__tests__/hash-test.ts
  packages/router/__tests__/router-memory-test.ts
  packages/router/__tests__/setup.ts
  packages/router/history.ts
  packages/router/router.ts
Labels: CLA Signed

#9764 Fix up generatePath when optional params are present
  .changeset/happy-ladybugs-occur.md
  packages/react-router/__tests__/generatePath-test.tsx
  packages/router/utils.ts
Labels: CLA Signed, router

#9829 Improved absolute redirect url detection in actions/loaders
  contributors.yml
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9874 docs(start/tutorial): fix links
  contributors.yml
  docs/start/tutorial.md
Labels: docs, CLA Signed

#9815 Fix scroll restoration when redirecting in an action
  .changeset/scroll-restoration-action-redirect.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9883 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9813 ci(release): sync with remix
  .github/workflows/postrelease.yml
  .github/workflows/release.yml
  scripts/release/comment.ts
  scripts/release/constants.ts
  scripts/release/find-release-from-changeset.js
  scripts/release/github.ts
  scripts/release/utils.ts
Labels: CLA Signed

#9886 Fix scroll restoration when redirecting in an action
  .changeset/kind-seals-know.md
  .changeset/quiet-crabs-jump.md
  package.json
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9887 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9889 docs(README): v6 is stable, link to its documentation
  README.md
  contributors.yml
Labels: CLA Signed

#9893 docs(components/form): Fix method case in action
  contributors.yml
  docs/components/form.md
Labels: docs, CLA Signed

#9896 fix: update <Await> to accept ReactNode as result
  .changeset/light-pandas-confess.md
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#9899 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9709 `@remix-run/router`: Add support for navigation blocking
  .changeset/lazy-needles-shout.md
  .changeset/light-phones-impress.md
  .changeset/violet-timers-type.md
  .gitignore
  examples/navigation-blocking/.gitignore
  examples/navigation-blocking/.stackblitzrc
  examples/navigation-blocking/README.md
  examples/navigation-blocking/index.html
  examples/navigation-blocking/package-lock.json
  examples/navigation-blocking/package.json
  examples/navigation-blocking/src/app.tsx
  examples/navigation-blocking/src/main.tsx
  examples/navigation-blocking/src/vite-env.d.ts
  examples/navigation-blocking/tsconfig.json
  examples/navigation-blocking/vite.config.ts
  package.json
  packages/react-router-dom/__tests__/use-blocker-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router-native/index.tsx
  packages/react-router/index.ts
  packages/react-router/lib/hooks.tsx
  packages/router/__tests__/TestSequences/GoBack.ts
  packages/router/__tests__/TestSequences/GoForward.ts
  packages/router/__tests__/navigation-blocking-test.ts
  packages/router/__tests__/router-memory-test.ts
  packages/router/__tests__/router-test.ts
  packages/router/history.ts
  packages/router/router.ts
  packages/router/utils.ts
  rollup.config.js
Labels: CLA Signed, react-router-dom, router

#9901 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9914 Support OPTIONS requests in staticHandler.queryRoute
  .changeset/real-panthers-hear.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9916 Link to the tutorial on https://reactrouter.com/
  README.md
  contributors.yml
  packages/react-router-dom/README.md
  packages/react-router-native/README.md
  tutorial/README.md
Labels: CLA Signed

#9913 Fix 404 bug with same-origin absolute redirects
  .changeset/rare-dancers-shave.md
  packages/router/__tests__/router-memory-test.ts
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9918 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9924 chore(workflow/support): Update discord server and mention discussions
  .github/workflows/support.yml
Labels: CLA Signed

#9932 Add unstable_usePrompt
  .changeset/spicy-nails-compete.md
  package.json
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#9934 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9900 feat: allow Link's "to" prop to accept external urls
  .changeset/silent-oranges-pay.md
  package.json
  packages/react-router-dom/__tests__/link-href-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#9935 ci(comment): update package check
  scripts/release/github.ts
Labels: CLA Signed

#9936 chore: Update version for release
  .changeset/eight-tomatoes-breathe.md
  .changeset/fresh-kids-tell.md
  .changeset/great-owls-juggle.md
  .changeset/happy-ladybugs-occur.md
  .changeset/kind-seals-know.md
  .changeset/lazy-needles-shout.md
  .changeset/light-pandas-confess.md
  .changeset/light-phones-impress.md
  .changeset/pre.json
  .changeset/quiet-crabs-jump.md
  .changeset/rare-dancers-shave.md
  .changeset/real-panthers-hear.md
  .changeset/slow-trees-notice.md
  .changeset/spicy-nails-compete.md
  .changeset/violet-timers-type.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9895 chore: update to Jest v29
  contributors.yml
  package.json
  packages/react-router-dom-v5-compat/jest.config.js
  packages/react-router-dom/__tests__/custom-environment.js
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/__tests__/nav-link-active-test.tsx
  packages/react-router-dom/__tests__/polyfills/SubmitEvent.submitter.ts
  packages/react-router-dom/__tests__/setup.ts
  packages/react-router-dom/__tests__/special-characters-test.tsx
  packages/react-router-dom/jest.config.js
  packages/react-router-native/__tests__/__snapshots__/link-press-test.tsx.snap
  packages/react-router-native/__tests__/__snapshots__/search-params-test.tsx.snap
  packages/react-router-native/__tests__/__snapshots__/useLinkPressHandler-test.tsx.snap
  packages/react-router-native/__tests__/deep-linking-test.tsx
  packages/react-router-native/jest-transformer.js
  packages/react-router-native/jest.config.js
  packages/react-router-native/package.json
  packages/react-router/__tests__/createRoutesFromChildren-test.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/__tests__/generatePath-test.tsx
  packages/react-router/__tests__/index-routes-test.tsx
  packages/react-router/__tests__/navigate-test.tsx
  packages/react-router/__tests__/path-matching-test.tsx
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/jest.config.js
  packages/router/__tests__/router-test.ts
  packages/router/jest.config.js
  yarn.lock
Labels: CLA Signed

#9867 fix(router): url encode file names
  .changeset/sweet-swans-cry.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9522 fix: replace beforeunload to pagehide for safafi on ios
  .changeset/small-squids-wash.md
  contributors.yml
Labels: CLA Signed, react-router-dom

#9941 Update popstate warning when popping to an unknown location
  packages/router/history.ts
Labels: CLA Signed

#9820 Fix React SRR useLayoutEffect console.error when using CompatRouter
  contributors.yml
  packages/react-router-dom-v5-compat/__tests__/compat-router-test.tsx
  packages/react-router-dom-v5-compat/lib/components.tsx
Labels: CLA Signed

#9942 Add decisions/ directory and useBlocker decision doc
  decisions/0001-use-blocker.md
  decisions/template.md
Labels: CLA Signed

#9953 docs(Browser-router.md): Update for React 18.0
  contributors.yml
  docs/router-components/browser-router.md
Labels: CLA Signed

#9971 docs(components/link): Update for Link types and add replace/state props sections
  docs/components/link.md
Labels: docs, CLA Signed

#9945 Change useScrollRestoration to use pagehide event
  .changeset/small-squids-wash.md
  contributors.yml
  packages/react-router-dom/index.tsx
Labels: CLA Signed, react-router-dom

#9963 Respect preventScrollReset on fetcher.Form
  .changeset/chilly-stingrays-rhyme.md
  docs/components/form.md
  docs/components/scroll-restoration.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9965 Remove abort controller for defer with only critical data
  .changeset/spotty-cheetahs-live.md
  packages/router/utils.ts
Labels: CLA Signed

#9944 Do not short circuit on hash change only mutation submissions
  .changeset/orange-insects-complain.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#9948 Fix fetcher shouldRevalidate parameters
  .changeset/little-taxis-bake.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#9969 Fix bug with search params removal
  .changeset/afraid-ducks-know.md
  packages/react-router-dom/__tests__/search-params-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/react-router-native/__tests__/__snapshots__/search-params-test.tsx.snap
  packages/react-router-native/__tests__/search-params-test.tsx
  packages/react-router-native/index.tsx
Labels: CLA Signed

#9974 chore: Update version for release (pre)
  .changeset/pre.json
  .changeset/silent-oranges-pay.md
  .changeset/silver-snails-destroy.md
  .changeset/spotty-cheetahs-live.md
  .changeset/sweet-swans-cry.md
  package.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#9976 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
Labels: CLA Signed

#9980 Fix navigation for hash routers on manual URL changes
  .changeset/six-tigers-fold.md
  packages/router/history.ts
  packages/router/router.ts
Labels: CLA Signed

#9988 chore: Update version for release
  .changeset/afraid-ducks-know.md
  .changeset/chilly-stingrays-rhyme.md
  .changeset/little-taxis-bake.md
  .changeset/orange-insects-complain.md
  .changeset/pre.json
  .changeset/silver-snails-destroy.md
  .changeset/six-tigers-fold.md
  .changeset/small-squids-wash.md
  .changeset/spotty-cheetahs-live.md
  .changeset/sweet-swans-cry.md
  .changeset/sweet-trains-call.md
  .changeset/twenty-badgers-notice.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10011 Add Layout Route Example
  contributors.yml
  docs/route/route.md
Labels: CLA Signed
