Repository remix-run/react-router, pull requests merged in 2023-03, with the labels that each got.

#10147 Specifiy that layouts require an <Outlet> to work
  contributors.yml
  docs/start/concepts.md
Labels: CLA Signed

#10149 Fix typescript error
  examples/auth/src/main.tsx
Labels: CLA Signed

#10151 docs(start/tutorial): fix EditContact loaded data
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#10154 docs(start/tutorial): Fix typo
  contributors.yml
  docs/start/tutorial.md
Labels: CLA Signed

#9983 fix(react-router): improve memoization for context providers
  .changeset/popular-timers-sneeze.md
  contributors.yml
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, react-router

#10078 fix: generatePath incorrectly applying parameters #9051
  .changeset/old-camels-accept.md
  contributors.yml
  packages/react-router/__tests__/generatePath-test.tsx
  packages/react-router/__tests__/matchPath-test.tsx
  packages/router/utils.ts
Labels: CLA Signed

#10023 docs(hooks/use-submit): Fix typo
  contributors.yml
  docs/hooks/use-submit.md
Labels: docs, CLA Signed

#10000 docs(guides/deferred): add FAQ about using `Response` objects with `defer`
  contributors.yml
  docs/guides/deferred.md
Labels: docs, CLA Signed

#10159 docs(routers/create-memory-router): fix typos
  contributors.yml
  docs/routers/create-memory-router.md
Labels: CLA Signed

#10165 the new way of describing app type in vite
  examples/multi-app/server.js
Labels: CLA Signed

#10045 Lazy Loaded Route Modules
  .changeset/component-and-error-boundary.md
  .changeset/lazy-route-modules.md
  contributors.yml
  decisions/0002-lazy-route-modules.md
  docs/route/error-element.md
  docs/route/lazy.md
  docs/route/route.md
  examples/data-router/src/app.tsx
  examples/lazy-loading-router-provider/.gitignore
  examples/lazy-loading-router-provider/.stackblitzrc
  examples/lazy-loading-router-provider/README.md
  examples/lazy-loading-router-provider/index.html
  examples/lazy-loading-router-provider/package-lock.json
  examples/lazy-loading-router-provider/package.json
  examples/lazy-loading-router-provider/src/App.tsx
  examples/lazy-loading-router-provider/src/index.css
  examples/lazy-loading-router-provider/src/main.tsx
  examples/lazy-loading-router-provider/src/pages/About.tsx
  examples/lazy-loading-router-provider/src/pages/Dashboard.tsx
  examples/lazy-loading-router-provider/src/vite-env.d.ts
  examples/lazy-loading-router-provider/tsconfig.json
  examples/lazy-loading-router-provider/vite.config.ts
  examples/ssr-data-router/package-lock.json
  examples/ssr-data-router/package.json
  examples/ssr-data-router/src/App.tsx
  examples/ssr-data-router/src/entry.client.tsx
  examples/ssr-data-router/src/entry.server.tsx
  examples/ssr-data-router/src/lazy.tsx
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/__tests__/exports-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router-native/__tests__/exports-test.tsx
  packages/react-router-native/index.tsx
  packages/react-router/__tests__/createRoutesFromChildren-test.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
  packages/router/.eslintrc
  packages/router/__tests__/router-memory-test.ts
  packages/router/__tests__/router-test.ts
  packages/router/history.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: docs, CLA Signed, react-router-dom, react-router-native, react-router, router

#10171 Add data router exports to react-router-dom-v5-compat
  .changeset/compat-data-router-exports.md
  packages/react-router-dom-v5-compat/index.ts
Labels: CLA Signed

#10174 chore: Update version for release (pre)
  .changeset/component-and-error-boundary.md
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10178 Docs updates for lazy/Component/ErrorBoundary
  docs/route/lazy.md
  docs/route/route.md
Labels: CLA Signed

#10185 chore: Update version for release
  .changeset/compat-data-router-exports.md
  .changeset/component-and-error-boundary.md
  .changeset/fix-generate-path.md
  .changeset/improve-context-memoization.md
  .changeset/lazy-route-modules.md
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10188 Convert data-memory-router-tests to use createMemoryRouter directly
  packages/react-router/__tests__/data-memory-router-test.tsx
Labels: CLA Signed

#10190 fix(react-router-dom): fix `detectErrorBoundary` function
  .changeset/tricky-walls-eat.md
  contributors.yml
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed, react-router-dom

#10196 Remove wrapper API from data browser router tests
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
Labels: CLA Signed

#10202 Update examples to 6.9.0 for lazy/Component usage
  examples/data-router/package-lock.json
  examples/data-router/package.json
  examples/ssr-data-router/package-lock.json
  examples/ssr-data-router/package.json
Labels: CLA Signed

#10201 Properly handle lazy errors during router initialization
  .changeset/proud-kings-cough.md
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router

#10205 docs(start/faq): fix grammar
  contributors.yml
  docs/start/faq.md
Labels: docs, CLA Signed

#10193 Fix route ID generation when using Fragments in createRoutesFromElements
  .changeset/fix-fragments-ids.md
  packages/react-router/__tests__/createRoutesFromChildren-test.tsx
  packages/react-router/lib/components.tsx
Labels: CLA Signed, react-router

#10207 Add future.v7_normalizeFormMethod flag
  .changeset/normalize-form-method.md
  docs/routers/create-browser-router.md
  docs/routers/create-memory-router.md
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/react-router/index.ts
  packages/router/__tests__/router-test.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed, react-router-dom, react-router, router

#10208 Provide fetcher submission to shouldRevalidate if fetcher action redirects
  .changeset/fetcher-submission-revalidation.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10225 fix: don't include fetcher submission on navigation in fetch action redirect
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10221 docs(start/concepts): fix warning
  contributors.yml
  docs/start/concepts.md
Labels: CLA Signed

#10237 Add docs on Future Flags
  .changeset/normalize-form-method.md
  docs/guides/api-development-strategy.md
  docs/routers/create-browser-router.md
Labels: docs, CLA Signed

#10243 chore: Update version for release (pre)
  .changeset/fix-fragments-ids.md
  .changeset/normalize-form-method.md
  .changeset/pre.json
  .changeset/ssr-error-boundary.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10244 Match location.state type to code
  docs/hooks/use-location.md
Labels: CLA Signed

#10247 Remove instanceof check for DeferredData
  .changeset/rotten-waves-fold.md
  package.json
  packages/router/router.ts
Labels: CLA Signed

#10248 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10249 docs(start/concepts): fix typo
  contributors.yml
  docs/start/concepts.md
Labels: docs, CLA Signed

#10256 fix lint issue and lint in CI
  .changeset/swift-feet-reflect.md
  .github/workflows/test.yml
  packages/router/router.ts
Labels: CLA Signed, router

#10260 chore: Update version for release (pre)
  .changeset/pre.json
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10265 ci: release commenting overhaul
  .github/workflows/release-comments.yml
  .github/workflows/release.yml
  scripts/find-release-from-changeset.js
  scripts/release/comment.ts
  scripts/release/constants.ts
  scripts/release/github.ts
  scripts/release/octokit.ts
  scripts/release/package-lock.json
  scripts/release/package.json
  scripts/release/tsconfig.json
  scripts/release/utils.ts
Labels: CLA Signed

#10267 Disallow undefined as a return value from LoaderFunction/ActionFunction
  .changeset/disallow-return-undefined-type.md
  packages/router/utils.ts
Labels: CLA Signed, router

#10272 docs(readme): Change links to full path
  contributors.yml
  packages/react-router/README.md
Labels: CLA Signed

#10254 Add docs for data router SSR
  docs/guides/ssr.md
  docs/routers/create-static-handler.md
  docs/routers/create-static-router.md
  docs/routers/picking-a-router.md
  docs/routers/router-provider.md
  docs/routers/static-router-provider.md
  examples/ssr-data-router/src/entry.server.tsx
Labels: docs, CLA Signed

#10284 chore: Update version for release
  .changeset/fetcher-submission-revalidation.md
  .changeset/fix-fragments-ids.md
  .changeset/initialize-lazy-errors.md
  .changeset/normalize-form-method.md
  .changeset/pre.json
  .changeset/rotten-waves-fold.md
  .changeset/ssr-error-boundary.md
  .changeset/swift-feet-reflect.md
  .changeset/update-web-fetch.md
  packages/react-router-dom-v5-compat/CHANGELOG.md
  packages/react-router-dom-v5-compat/package.json
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/package.json
  packages/react-router-native/CHANGELOG.md
  packages/react-router-native/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/router/CHANGELOG.md
  packages/router/package.json
Labels: CLA Signed

#10285 Add basic data router example
  .github/ISSUE_TEMPLATE/bug_report.yml
  examples/basic-data-router/.gitignore
  examples/basic-data-router/.stackblitzrc
  examples/basic-data-router/README.md
  examples/basic-data-router/index.html
  examples/basic-data-router/package-lock.json
  examples/basic-data-router/package.json
  examples/basic-data-router/src/app.tsx
  examples/basic-data-router/src/index.css
  examples/basic-data-router/src/main.tsx
  examples/basic-data-router/src/vite-env.d.ts
  examples/basic-data-router/tsconfig.json
  examples/basic-data-router/vite.config.ts
Labels: CLA Signed
