Repository remix-run/react-router, pull requests merged in 2023-04, with the labels that each got.

#10296 fix(react-router): "Current Future Flags" table
  contributors.yml
  docs/guides/api-development-strategy.md
Labels: CLA Signed

#10297 docs(create-browser-router.md): correct link
  contributors.yml
  docs/routers/create-browser-router.md
Labels: CLA Signed

#10306 Update deferred.md
  contributors.yml
  docs/guides/deferred.md
Labels: CLA Signed

#10311 docs(use-navigate.md): restore hint for `replace`
  contributors.yml
  docs/hooks/use-navigate.md
Labels: CLA Signed

#10338 Add docs section in Link/Navlink for `reloadDocument`
  docs/components/link.md
  docs/components/nav-link.md
Labels: CLA Signed

#10344 Fix fetcher revalidation logic
  .changeset/fix-fetcher-revalidation.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10345 Add proper 404 error for missing loader
  .changeset/fetcher-404.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10336 Stabilize useNavigate/useSubmit/fetcher.submit for data routers
  .changeset/fetcher-basename.md
  .changeset/stable-navigate-submit.md
  package.json
  packages/react-router-dom-v5-compat/index.ts
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
  packages/react-router-native/index.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/__tests__/navigate-test.tsx
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
  packages/router/README.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10346 Update routes.md fixing broken link
  contributors.yml
  docs/components/routes.md
Labels: CLA Signed

#10359 chore: fix ESLint warnings
  examples/data-router/src/app.tsx
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed, react-router-dom

#10355 chore: update `no-response` workflow
  .github/workflows/no-response.yml
Labels: CLA Signed

#10368 chore: update `LICENSE.md`
  LICENSE.md
Labels: CLA Signed

#10378 update useState URL to current
  contributors.yml
  docs/hooks/use-search-params.md
Labels: CLA Signed

#10342 Add better control over submission serialization
  .changeset/raw-payload-submission-router.md
  .changeset/raw-payload-submission.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-navigation.md
  docs/hooks/use-submit.md
  docs/route/action.md
  docs/route/should-revalidate.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: docs, CLA Signed, react-router-dom, router

#10362 Support direct handlers in useSubmit/fetcher.submit/fetcher.load
  .changeset/direct-handlers-router.md
  .changeset/direct-handlers.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-submit.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, react-router-dom, router

#10367 Fail gracefully on invalid Link to values
  .changeset/invalid-link-to.md
  packages/react-router-dom/__tests__/link-href-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10369 Allow useRevalidate to resolve a loader-driven error boundary UI
  .changeset/revalidate-error-boundary.md
  package.json
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/router.ts
Labels: CLA Signed

#10374 Fix descendant Routes rendering alongside RouterProvider errors
  .changeset/descendant-routes-data-errors.md
  package.json
  packages/react-router-dom/server.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10377 Remove useSyncExternalStore in favor of useState
  .changeset/remove-use-sync-external-store.md
  package.json
  packages/react-router-dom/__tests__/special-characters-test.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/lib/components.tsx
  packages/react-router/lib/use-sync-external-store-shim/index.ts
  packages/react-router/lib/use-sync-external-store-shim/useSyncExternalStoreShimClient.ts
  packages/react-router/lib/use-sync-external-store-shim/useSyncExternalStoreShimServer.ts
Labels: CLA Signed

#10388 docs(routers/create-browser-router): fix Future Flags link
  docs/routers/create-browser-router.md
Labels: docs, CLA Signed

#10389 refactor(react-router): clean up `useRoutes`' `RouterProvider` detection
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, react-router

#8929 Allow navigation in child useEffects and fix intermittent issue where browser automation fails to navigate due to race conditions.
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, react-router

#10395 refactor(react-router): Fix useRoutesImpl for SSR
  package.json
  packages/react-router-dom/__tests__/exports-test.tsx
  packages/react-router-dom/server.tsx
  packages/react-router-native/__tests__/exports-test.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
Labels: CLA Signed, react-router-dom, react-router

#10394 Allow useNavigate to be called from child component effects
  .changeset/navigate-in-effect.md
  package.json
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10397 chore: remove `styfle/cancel-workflow-action` usage
  .github/workflows/format.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: CLA Signed

#10399 ci: disable github action file annotations for eslint, tsc, and jest
  .github/workflows/test.yml
  packages/react-router-dom-v5-compat/jest.config.js
  packages/react-router-dom/jest.config.js
  packages/react-router-native/jest.config.js
  packages/router/jest.config.js
Labels: CLA Signed

#10401 Add missing static propr for StaticRouterProvider
  .changeset/soft-moons-sneeze.md
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#10408 Fix up same-hash link short circuiting logic
  .changeset/same-hash-links.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10409 Avoid unnecessary router subscribes
  .changeset/silent-stingrays-boil.md
  contributors.yml
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#10420 Revert "chore: update `no-response` workflow"
  .github/workflows/no-response.yml
Labels: CLA Signed
