Repository remix-run/react-router, pull requests merged in 2023-05, with the labels that each got.

#10434 Fix usage of Component API within descendant routes
  .changeset/descendant-routes-component.md
  docs/route/route.md
  packages/react-router/__tests__/Route-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10433 Fix pathless relative routing with a basename
  .changeset/empty-path-basename-navigation.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10432 Fix useNavigate when called from <Routes> inside a <RouterProvider>
  .changeset/navigate-from-routes.md
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10435 Fix usage of Navigate in strict mode when using a data router
  .changeset/navigate-strict-mode.md
  package.json
  packages/react-router/__tests__/navigate-test.tsx
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#10437 fix: surface errors to the proper error boundary after _internalSetRoutes
  .changeset/hmr-error-boundary.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10451 ci(comment): update org
  .github/workflows/release-comments.yml
Labels: CLA Signed

#10456 docs(start/tutorial): fix typo
  contributors.yml
  docs/start/tutorial.md
Labels: docs, CLA Signed

#10462 fix: grammatical error in documentation
  contributors.yml
  docs/start/concepts.md
Labels: CLA Signed

#10483 Corrected a grammatical mistake in a sentence
  docs/components/nav-link.md
Labels: CLA Signed

#10444 feat: export `SetURLSearchParams` type
  .changeset/set-search-params-type.md
  packages/react-router-dom/index.tsx
  packages/react-router-native/index.tsx
Labels: CLA Signed, react-router-dom, react-router-native

#10492 Fix basename duplication in RouterProvider descendant routes
  .changeset/fix-basename-duplication.md
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10376 Add docs on migrating from BrowserRouter to RouterProvider
  docs/components/routes.md
  docs/upgrading/v5.md
  docs/upgrading/v6-data.md
Labels: docs, CLA Signed

#10438 Wrap internal router state updates with React.startTransition
  .changeset/start-transition-support.md
  package.json
  packages/react-router-dom/__tests__/components/LazyComponent.tsx
  packages/react-router-dom/__tests__/concurrent-mode-navigations-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router/__tests__/navigate-test.tsx
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#10427 throw on non-serializable state PUSH navigation
  .changeset/non-serializable-state.md
  packages/router/__tests__/TestSequences/PushStateInvalid.ts
  packages/router/__tests__/browser-test.ts
  packages/router/__tests__/hash-test.ts
  packages/router/history.ts
Labels: CLA Signed, router

#10516 Ensure revalidations happen when hash is present
  .changeset/revalidate-with-hash.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10453 chore: upgrade jest and jsdom
  .changeset/stale-birds-travel.md
  package.json
  packages/react-router-dom-v5-compat/jest.config.js
  packages/react-router-dom/__tests__/polyfills/SubmitEvent.submitter.ts
  packages/react-router-dom/__tests__/setup.ts
  packages/react-router-dom/jest.config.js
  packages/react-router-native/jest.config.js
  packages/router/__tests__/router-test.ts
  packages/router/jest.config.js
  packages/router/router.ts
  yarn.lock
Labels: CLA Signed

#10537 docs(start/overview): fix props in 'Nested Routes' section
  contributors.yml
  docs/start/overview.md
Labels: docs, CLA Signed
