Repository remix-run/react-router, pull requests merged in 2023-08, with the labels that each got.

#10753 Add defensiveless for malformed hash urls without a leading slash
  .changeset/hash-leading-slash.md
  packages/router/__tests__/hash-test.ts
  packages/router/history.ts
Labels: CLA Signed

#10757 Fix docs on NavLink w.r.t. links to the root route and the end prop
  docs/components/nav-link.md
  packages/react-router-dom/__tests__/nav-link-active-test.tsx
Labels: CLA Signed

#10705 Add support to force reload on redirect with `X-Remix-Reload-Document` header
  .changeset/x-remix-reload-document.md
  contributors.yml
  docs/fetch/redirectDocument.md
  package.json
  packages/react-router-dom-v5-compat/index.ts
  packages/react-router-dom/index.tsx
  packages/react-router-native/index.tsx
  packages/react-router/index.ts
  packages/router/__tests__/router-test.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed

#10758 Do not include hash in useFormAction() for unspecified actions
  .changeset/form-action-hash.md
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/index.tsx
Labels: CLA Signed

#10777 Organize imports
  packages/react-router-dom-v5-compat/index.ts
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/hooks.tsx
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed

#10782 [Docs] Fix typo in `Navigate` docs
  contributors.yml
  docs/hooks/use-navigate.md
Labels: CLA Signed

#10779 Fix actionResult type on shouldRevalidate args
  .changeset/should-revalidate-action-result-type.md
  docs/route/should-revalidate.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: bug, CLA Signed, router

#10769 Encode URIs during server rendering of <a href>/<form action> to avoi…
  .changeset/encode-uri-ssr.md
  packages/react-router-dom-v5-compat/lib/components.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#10775 README's fixes
  contributors.yml
  examples/multi-app/README.md
  examples/notes/README.md
Labels: CLA Signed

#10793 Add method and URL to aborted query/queryRoute error message
  .changeset/aborted-query-error-message.md
  packages/router/__tests__/hash-test.ts
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10797 Export ShouldRevalidateFunctionArgs interface
  .changeset/export-should-revalidate-args.md
  contributors.yml
  packages/react-router-dom-v5-compat/index.ts
  packages/react-router-dom/index.tsx
  packages/react-router-native/index.tsx
  packages/react-router/index.ts
  packages/router/index.ts
Labels: CLA Signed

#10810 Add some redirect unit tests from Remix
  packages/router/__tests__/router-test.ts
Labels: CLA Signed

#10811 feat: export proper `ErrorResponse` type
  .changeset/error-response-type.md
  packages/react-router-dom-v5-compat/index.ts
  packages/react-router-dom/index.tsx
  packages/react-router-native/index.tsx
  packages/react-router/index.ts
  packages/router/__tests__/router-test.ts
  packages/router/index.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: CLA Signed, react-router-dom-v5-compat, react-router-dom, react-router-native, react-router, router, feat:typescript

#10812 Addendum to ErrorResponse type export
  .changeset/error-response-type.md
  packages/react-router-dom/index.tsx
  packages/router/index.ts
Labels: CLA Signed

#10715 Prepare for Remix v2
  .changeset/remix-v2-prep.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed, router
