Repository remix-run/react-router, pull requests merged in 2023-06, with the labels that each got.

#10535 Allow revalidations to complete if submitting fetcher is deleted
  .changeset/delete-submit-fetcher.md
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10553 Use react concurrent mode state in RouterProvider
  .changeset/young-glasses-smoke.md
  package.json
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#10448 Update window.history before setting updated React state on navigations
  .changeset/big-vans-act.md
  contributors.yml
  packages/router/router.ts
Labels: CLA Signed

#10550 Strip basename from location provided to getKey
  .changeset/strip-basename-getkey.md
  package.json
  packages/react-router-dom/__tests__/scroll-restoration-test.tsx
  packages/react-router-dom/index.tsx
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10569 Fix feature detection of React.startTransition
  .changeset/silly-eagles-divide.md
  packages/react-router-dom/index.tsx
  packages/react-router/lib/components.tsx
Labels: CLA Signed, react-router-dom, react-router

#10413 Alternate submission encodings
  .changeset/raw-payload-submission-router.md
  .changeset/raw-payload-submission.md
  .github/workflows/test.yml
  docs/hooks/use-fetcher.md
  docs/hooks/use-navigation.md
  docs/hooks/use-submit.md
  docs/route/action.md
  docs/route/should-revalidate.md
  package.json
  packages/react-router-dom/__tests__/concurrent-mode-navigations-test.tsx
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/setup.ts
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
  packages/react-router/__tests__/setup.ts
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/router/__tests__/router-memory-test.ts
  packages/router/__tests__/router-test.ts
  packages/router/__tests__/setup.ts
  packages/router/router.ts
  packages/router/utils.ts
Labels: docs, CLA Signed, react-router-dom, router

#10573 Fix unstable_useBlocker key issues in strict mode
  .changeset/blocker-key-strict-mode.md
  .changeset/strip-blocker-basename.md
  examples/navigation-blocking/src/app.tsx
  package.json
  packages/react-router-dom/__tests__/use-blocker-test.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/router.ts
Labels: CLA Signed

#10581 chore: upgrade typescript
  .changeset/smart-pots-repair.md
  package.json
  yarn.lock
Labels: CLA Signed, dependencies

#10582 chore: dedupe `yarn.lock`
  yarn.lock
Labels: CLA Signed

#10588 Fix webpack/terser startTransition minification bug in production mode
  .changeset/start-transition-minification.md
  packages/react-router-dom/index.tsx
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#10596 Add future.v7_startTransition flag
  .changeset/v7-start-transition.md
  docs/guides/api-development-strategy.md
  package.json
  packages/react-router-dom/__tests__/concurrent-mode-navigations-test.tsx
  packages/react-router-dom/__tests__/exports-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router-native/__tests__/exports-test.tsx
  packages/react-router/__tests__/navigate-test.tsx
  packages/react-router/__tests__/useNavigate-test.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/polyfills/start-transition.ts
Labels: CLA Signed, react-router-dom, react-router-native, react-router

#9865 fix(react-router-dom): fix submitter serialization
  .changeset/formdata-submitter.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-legacy-formdata-test.tsx
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/polyfills/drop-FormData-submitter.ts
  packages/react-router-dom/dom.ts
  yarn.lock
Labels: CLA Signed, react-router-dom

#10583 chore: add `deduplicate-yarn` workflow
  .github/workflows/deduplicate-yarn.yml
Labels: CLA Signed

#10612 Fix generatePath when passed a zero value param
  .changeset/purple-islands-cough.md
  packages/react-router/__tests__/generatePath-test.tsx
  packages/router/utils.ts
Labels: CLA Signed

#10613 docs(DEVELOPMENT.md): fix typos
  DEVELOPMENT.md
  contributors.yml
Labels: CLA Signed

#10619 Fixing typo
  contributors.yml
  docs/routers/picking-a-router.md
Labels: CLA Signed

#10622 Inline startTransitionImpl to avoid .d.ts issues with skipLibCheck:false
  .changeset/tsc-skiplibcheck-react17.md
  packages/react-router-dom/index.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/polyfills/start-transition.ts
Labels: CLA Signed

#10623 Avoid calling shouldRevalidate on interrupted initial load fetchers
  .changeset/skip-fetcher-revalidate.md
  package.json
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10625 fix empty submissions
  packages/router/__tests__/router-test.ts
  packages/router/router.ts
Labels: CLA Signed

#10627 fix FormData submitter check
  .changeset/brave-mails-relate.md
  package.json
  packages/react-router-dom/__tests__/setup.ts
  packages/react-router-dom/dom.ts
  packages/react-router/__tests__/setup.ts
Labels: CLA Signed

#10643 docs(use-submit): explicit encType
  contributors.yml
  docs/hooks/use-submit.md
Labels: CLA Signed

#10652 Fix loop in unstable_useBlocker when used with an unstable blocker function
  .changeset/fix-blocker-loop.md
  packages/react-router-dom/__tests__/use-blocker-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#10656 Fix issue with reused blockers on subsequent navigations
  .changeset/fix-reused-blocker.md
  package.json
  packages/react-router-dom/__tests__/use-blocker-test.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/router.ts
Labels: CLA Signed

#10634 Enhance route.lazy return type
  .changeset/route-lazy-type.md
  packages/react-router/lib/context.ts
  packages/router/utils.ts
Labels: CLA Signed

#10633 Hydrate proper error type for subclasses of Error
  .changeset/hydrate-error-type.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/__tests__/data-static-router-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router-dom/server.tsx
Labels: CLA Signed

#10630 Add missing <Form state> prop
  .changeset/form-state-prop.md
  docs/components/form.md
  docs/hooks/use-submit.md
  package.json
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/dom.ts
  packages/react-router-dom/index.tsx
Labels: CLA Signed
