Repository remix-run/react-router, pull requests merged in 2024-12, with the labels that each got.

#12426 docs(start/framework/testing.md): fix sample code
  contributors.yml
  docs/start/framework/testing.md
Labels: CLA Signed

#12429 docs(upgrading/component-routes): fix filename
  contributors.yml
  docs/upgrading/component-routes.md
Labels: docs, CLA Signed

#12437 temporarily only use one build in export map
  .changeset/curvy-readers-notice.md
  packages/react-router/package.json
Labels: CLA Signed

#12397 typegen: matches and params for child routes
  .changeset/red-eagles-stare.md
  integration/typegen-test.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12378 docs(start/framework/route-module): fix types
  contributors.yml
  docs/start/framework/route-module.md
Labels: docs, CLA Signed

#12440 Support moduleResolution NodeNext and Node16
  .changeset/blue-ears-tie.md
  packages/react-router-dev/typegen/generate.ts
Labels: CLA Signed

#12443 release: typegen fixes
  .changeset/red-eagles-stare.md
  integration/typegen-test.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12407 fix(fs-routes): throw error if routes directory is missing
  .changeset/honest-dots-deliver.md
  packages/react-router-fs-routes/__tests__/flatRoutes-test.ts
  packages/react-router-fs-routes/flatRoutes.ts
Labels: CLA Signed

#12446 test(fs-routes): Write test files to temp dir
  packages/react-router-fs-routes/__tests__/flatRoutes-test.ts
Labels: CLA Signed, @react-router/fs-routes

#12457 silence remaining expected errors from integration tests
  integration/catch-boundary-test.ts
  integration/fs-routes-test.ts
  integration/resource-routes-test.ts
  integration/vite-prerender-test.ts
Labels: CLA Signed

#12458 internally deprecate createappfixture
  integration/helpers/create-fixture.ts
Labels: CLA Signed

#12461 clean up tsconfigs
  examples/auth-router-provider/tsconfig.json
  examples/auth/tsconfig.json
  examples/basic-data-router/tsconfig.json
  examples/basic/tsconfig.json
  examples/custom-filter-link/tsconfig.json
  examples/custom-link/tsconfig.json
  examples/custom-query-parsing/tsconfig.json
  examples/data-router/tsconfig.json
  examples/error-boundaries/tsconfig.json
  examples/lazy-loading-router-provider/tsconfig.json
  examples/lazy-loading/tsconfig.json
  examples/modal-route-with-outlet/tsconfig.json
  examples/modal/tsconfig.json
  examples/navigation-blocking/tsconfig.json
  examples/notes/tsconfig.json
  examples/route-objects/tsconfig.json
  examples/scroll-restoration/tsconfig.json
  examples/search-params/tsconfig.json
  examples/ssr-data-router/tsconfig.json
  examples/ssr/tsconfig.json
  examples/view-transitions/tsconfig.json
  integration/helpers/vite-cloudflare-template/tsconfig.json
  integration/helpers/vite-template/tsconfig.json
  integration/root-route-test.ts
  integration/typegen-test.ts
  integration/vite-dev-test.ts
  integration/vite-dot-server-test.ts
  packages/create-react-router/__tests__/fixtures/basic/tsconfig.json
  packages/react-router-dev/__tests__/fixtures/node/tsconfig.json
  playground/framework-express/tsconfig.json
  playground/framework-spa/tsconfig.json
  playground/framework/tsconfig.json
  tutorial/tsconfig.json
Labels: CLA Signed

#12464 docs: prefer `verbatimModuleSyntax` when setting up type-only auto-imports
  docs/how-to/route-module-type-safety.md
Labels: CLA Signed

#12441 allow users to opt out of deprecation warnings by setting flags to false
  .changeset/slow-birds-fetch.md
  packages/react-router/lib/deprecations.ts
Labels: CLA Signed

#12471 Fix typo in file-route-conventions
  contributors.yml
  docs/how-to/file-route-conventions.md
Labels: CLA Signed

#12481 Add tsup temp files to gitignore
  .gitignore
Labels: CLA Signed

#12485 Remove false positive link prefetch warning
  .changeset/serious-chairs-lie.md
  packages/react-router/lib/dom/ssr/components.tsx
Labels: CLA Signed

#12491 docs: type of action arguments in Handling different request methods example
  contributors.yml
  docs/how-to/resource-routes.md
Labels: CLA Signed

#12502 [Docs] .server modules and .client modules
  contributors.yml
  docs/explanation/special-files.md
Labels: docs, CLA Signed

#12516 docs(start/framework/testing): fix code
  contributors.yml
  docs/start/framework/testing.md
Labels: CLA Signed

#12504 docs: v7 framework tutorial
  docs/explanation/index.md
  docs/how-to/index.md
  docs/tutorials/address-book.md
  docs/tutorials/index.md
  tutorial/.stackblitzrc
  tutorial/README.md
  tutorial/index.html
  tutorial/package-lock.json
  tutorial/package.json
  tutorial/src/App.jsx
  tutorial/src/data.js
  tutorial/src/main.css
  tutorial/src/main.jsx
  tutorial/tsconfig.json
  tutorial/vite.config.js
  tutorials/address-book/.gitignore
  tutorials/address-book/README.md
  tutorials/address-book/app/app.css
  tutorials/address-book/app/data.ts
  tutorials/address-book/app/root.tsx
  tutorials/address-book/app/routes.ts
  tutorials/address-book/package.json
  tutorials/address-book/public/favicon.ico
  tutorials/address-book/react-router.config.ts
  tutorials/address-book/tsconfig.json
  tutorials/address-book/vite.config.ts
Labels: docs, CLA Signed

#12527 ignore redirects when inferring loader data types
  .changeset/khaki-gifts-grin.md
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types/route-data.ts
Labels: CLA Signed

#12528 docs: fix grammar errors in race-conditions.md
  contributors.yml
  docs/explanation/race-conditions.md
Labels: docs, CLA Signed

#12530 docs(tutorials/address-book): fix typo
  contributors.yml
  docs/tutorials/address-book.md
Labels: docs, CLA Signed

#12537 docs(tutorials/address-book): fix filename
  contributors.yml
  docs/tutorials/address-book.md
Labels: CLA Signed

#12545 tests: silence `require(esm)` warnings for Node 22.12
  integration/helpers/create-fixture.ts
  integration/playwright.config.ts
Labels: CLA Signed

#12539 refactor vite plugin
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/virtual-module.ts
  packages/react-router-dev/vite/vmod.ts
  packages/react-router-dev/vite/with-props.ts
Labels: CLA Signed

#12547 Remove client route virtual modules in development
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12548 Add layout outlet docs
  contributors.yml
  docs/start/framework/routing.md
Labels: CLA Signed

#12531 Resolve promises in suspense docs
  contributors.yml
  docs/how-to/suspense.md
Labels: CLA Signed

#12556 fix(create-react-router): Add missing fs-extra dep
  .changeset/perfect-elephants-type.md
  packages/create-react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed, create-react-router

#12559 Add prerequisite sections to a few places
  contributors.yml
  docs/start/framework/installation.md
  docs/start/library/installation.md
  docs/upgrading/remix.md
  docs/upgrading/v6.md
Labels: CLA Signed

#12564 docs(changelog): fix minor typo in Changelog
  CHANGELOG.md
  contributors.yml
Labels: CLA Signed

#12557 fix broken link to Outlet API Reference
  contributors.yml
  docs/start/framework/routing.md
Labels: CLA Signed

#12572 docs: improve template instructions in installation docs
  contributors.yml
  docs/start/framework/installation.md
Labels: CLA Signed

#12578 Properly initialize `NODE_ENV` if not already set
  .changeset/selfish-pianos-grab.md
  contributors.yml
  packages/react-router-dev/bin.js
  packages/react-router-serve/bin.js
Labels: CLA Signed

#12573 docs(community/contributing): improvements for docs changes
  contributors.yml
  docs/community/contributing.md
Labels: docs, CLA Signed

#12586 docs(start/framework/installation): remove duplicate sentence
  contributors.yml
  docs/start/framework/installation.md
Labels: docs, CLA Signed

#12591 docs(upgrading/component-routes): add note to add `.react-router` to `.gitignore`
  contributors.yml
  docs/upgrading/component-routes.md
Labels: docs, CLA Signed

#12594 docs(upgrading/v6): clarify `partialHydration`
  docs/upgrading/v6.md
Labels: docs, CLA Signed

#12595 docs: sessions and cookies
  docs/explanation/sessions-and-cookies.md
Labels: docs, CLA Signed

#12609 fix(@react-router/dev): prevent argv parsing crash when optionnal args are passed to the cli
  contributors.yml
  packages/react-router-dev/bin.js
Labels: CLA Signed

#12633 docs (special-files): fix typo
  contributors.yml
  docs/explanation/special-files.md
Labels: CLA Signed

#12654 docs(how-to/suspense): update
  contributors.yml
  docs/how-to/suspense.md
Labels: docs, CLA Signed
