Repository remix-run/react-router, pull requests merged in 2024-10, with the labels that each got.

#12044 Update use-params.md
  contributors.yml
  docs/hooks/use-params.md
Labels: CLA Signed

#12052 Route chunks: Deduplicate explicit route imports
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/route-chunks.ts
Labels: CLA Signed

#12050 Avoid unnecessary console error on fetcher abort due to back-to-back revalidation calls
  .changeset/itchy-shoes-sort.md
  packages/router/router.ts
Labels: CLA Signed

#12054 Avoid unnecessary console error on fetcher abort due to back-to-back revalidation calls
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12055 Remove internal cache from patchRoutesOnNavigation
  .changeset/gold-frogs-pump.md
  docs/components/form.md
  docs/components/link.md
  docs/components/nav-link.md
  docs/hooks/use-fetcher.md
  docs/hooks/use-navigate.md
  docs/hooks/use-submit.md
  docs/routers/create-browser-router.md
  packages/router/__tests__/lazy-discovery-test.ts
  packages/router/router.ts
Labels: CLA Signed

#12059 Route chunks: Add integration test
  integration/helpers/vite.ts
  integration/route-chunks-test.ts
Labels: CLA Signed

#12057 Allow returning undefined from loaders/actions (part 2)
  .changeset/red-feet-shop.md
  integration/error-boundary-test.ts
  integration/single-fetch-test.ts
  packages/react-router/__tests__/router/revalidate-test.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/server.tsx
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/server-runtime/data.ts
  packages/react-router/lib/server-runtime/headers.ts
  packages/react-router/lib/server-runtime/routes.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
Labels: CLA Signed

#12021 Fix redirects returned from loader using data
  .changeset/purple-poems-laugh.md
  integration/defer-loader-test.ts
  packages/react-router/lib/server-runtime/data.ts
Labels: CLA Signed

#12060 fix: include root "react-dom" module for optimization
  .changeset/lemon-files-care.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12062 Rename RemixRouter -> DataRouter
  .changeset/gold-suns-march.md
  .changeset/silly-papayas-trade.md
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/global.ts
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/server.tsx
  packages/react-router/lib/dom/ssr/errors.ts
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#12061 Update template to use pre-release tags
  templates/basic/.gitignore
  templates/basic/.vscode/settings.json
  templates/basic/package.json
  templates/basic/tsconfig.json
  templates/basic/vite.config.ts
Labels: CLA Signed

#12064 Route chunks: Skip HMR preloads when disabled
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12066 Rename private data router global
  packages/react-router-dev/vite/static/refresh-utils.cjs
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/global.ts
Labels: CLA Signed, v7

#12069 Revert template to tailwind v3
  templates/basic/app/app.css
  templates/basic/app/routes/home.tsx
  templates/basic/package.json
  templates/basic/postcss.config.js
  templates/basic/tailwind.config.ts
  templates/basic/vite.config.ts
Labels: CLA Signed

#12072 fix typegen for async route config
  packages/react-router-dev/typescript/typegen.ts
Labels: CLA Signed

#12073 fix typegen for `data` and `json` responses
  packages/react-router/index.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types.ts
Labels: CLA Signed

#12086 Add cloudflare and architect to typedoc
  packages/react-router-architect/typedoc.json
  packages/react-router-cloudflare/typedoc.json
Labels: CLA Signed, v7

#12087 Remove Remix references from test fixtures
  integration/helpers/node-template/app/routes/_index.tsx
  integration/helpers/vite-template/app/routes/_index.tsx
  packages/react-router-dev/__tests__/fixtures/node/app/routes/_index.tsx
Labels: CLA Signed, v7

#12088 Tidy up readmes
  packages/react-router-architect/README.md
  packages/react-router-cloudflare/README.md
  packages/react-router-dev/README.md
  packages/react-router-express/README.md
  packages/react-router-fs-routes/README.md
  packages/react-router-node/README.md
  packages/react-router-remix-config-routes-adapter/README.md
  packages/react-router-serve/README.md
Labels: CLA Signed, v7

#12089 Remove Remix references in basic template
  templates/basic/app/routes/home.tsx
Labels: CLA Signed, v7

#12090 Fix Remix reference in pre-rendering docs
  docs/misc/pre-rendering.md
Labels: CLA Signed, v7

#12084 docs: fix minor issues in docs/start/routing.md
  contributors.yml
  docs/start/routing.md
Labels: CLA Signed

#12070 Fix partial hydration bugs when hydrating with errors
  .changeset/soft-maps-fix.md
  packages/router/__tests__/route-fallback-test.ts
  packages/router/router.ts
Labels: CLA Signed

#12071 Fix react-router-serve for prerendered files and avoid dup loader invocation
  .changeset/rare-plums-chew.md
  docs/misc/pre-rendering.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-serve/cli.ts
  packages/react-router/lib/server-runtime/routes.ts
Labels: CLA Signed

#12048 docs(start/overview): add `Search Params` section
  docs/start/overview.md
Labels: docs, CLA Signed

#12096 Route chunks: Fix omitted chunk import removal
  packages/react-router-dev/vite/route-chunks-test.ts
  packages/react-router-dev/vite/route-chunks.ts
Labels: CLA Signed

#12097 docs(start/overview): fix a typo in Search Params section
  docs/start/overview.md
Labels: CLA Signed

#12100 Route chunks: Increase precedence of chunk downloads
  packages/react-router/lib/dom/ssr/routes.tsx
Labels: CLA Signed

#12108 Route chunks: Add "enforce" option
  integration/helpers/vite.ts
  integration/route-chunks-test.ts
  packages/react-router-dev/vite/config.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/route-chunks.ts
Labels: CLA Signed

#12104 docs(upgrading/remix): update upgrading process
  docs/upgrading/remix.md
Labels: docs, CLA Signed

#12111 Expose patchRoutesOnNavigation errors directly
  .changeset/shy-chicken-talk.md
  packages/router/__tests__/lazy-discovery-test.ts
  packages/router/router.ts
Labels: CLA Signed

#12113 Remove internal cache from patchRoutesOnNavigation (#12055)
  packages/react-router/__tests__/router/lazy-discovery-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12114 Fix bug with clientLoader.hydrate when hydrating with bubbled errors (Remix PR 10063)
  integration/client-data-test.ts
  packages/react-router/lib/dom/ssr/routes.tsx
Labels: CLA Signed

#12115 Remove unused FS routes from playground
  playground/compiler/app/remix-routes/hello.tsx
Labels: CLA Signed

#12117 Fix typegen for routes with a client loader but no server loader
  .changeset/little-cooks-pull.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/types.ts
Labels: CLA Signed

#12124 Update installation.md
  contributors.yml
  docs/start/installation.md
Labels: CLA Signed

#12126 Clean paths in relative route helper snapshots
  packages/react-router-dev/__tests__/route-config-test.ts
Labels: CLA Signed

#12103 docs(start/overview): add `Location State` section
  docs/start/overview.md
Labels: docs, CLA Signed

#12119 docs(misc/resource-routes): add new page
  docs/misc/file-route-conventions.md
  docs/misc/resource-routes.md
Labels: docs, CLA Signed

#12132 Export proper dom versions
  docs/upgrading/v6.md
  packages/react-router-architect/rollup.config.js
  packages/react-router-cloudflare/rollup.config.js
  packages/react-router-dom/index.ts
  packages/react-router-dom/tsconfig.json
  packages/react-router-express/rollup.config.js
  packages/react-router-fs-routes/rollup.config.js
  packages/react-router-node/package.json
  packages/react-router-node/rollup.config.js
  packages/react-router-node/tsconfig.json
  packages/react-router-remix-config-routes-adapter/rollup.config.js
  packages/react-router-serve/rollup.config.js
  packages/react-router/rollup.config.js
  packages/react-router/tsconfig.json
  rollup.config.js
  rollup.utils.js
Labels: CLA Signed

#12137 Use route helper in config integration test
  integration/route-config-test.ts
Labels: CLA Signed, v7

#12141 Update jsdoc links to add new v6 segment
  .changeset/beige-otters-fold.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  README.md
  docs/guides/ssr.md
  packages/react-router-dom/CHANGELOG.md
  packages/react-router-dom/README.md
  packages/react-router-dom/index.tsx
  packages/react-router-native/README.md
  packages/react-router/CHANGELOG.md
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
  packages/router/CHANGELOG.md
  packages/router/README.md
  packages/router/utils.ts
  tutorial/README.md
Labels: CLA Signed

#12145 Fix contxt types for Route.LoaderArgs, add upgrade docs
  docs/upgrading/remix.md
  packages/react-router/lib/types.ts
Labels: CLA Signed

#11750 Add deprecation warnings for v7 flags in v6
  .changeset/ninety-queens-thank.md
  package.json
  packages/react-router-dom/__tests__/exports-test.tsx
  packages/react-router-dom/__tests__/scroll-restoration-test.tsx
  packages/react-router-dom/index.tsx
  packages/react-router-native/__tests__/exports-test.tsx
  packages/react-router/__tests__/Router-basename-test.tsx
  packages/react-router/__tests__/Routes-test.tsx
  packages/react-router/__tests__/descendant-routes-warning-test.tsx
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/deprecations.ts
  packages/router/utils.ts
Labels: CLA Signed

#12146 Remove json() utility
  .changeset/strange-jeans-give.md
  docs/misc/resource-routes.md
  integration/abort-signal-test.ts
  integration/bug-report-test.ts
  integration/catch-boundary-data-test.ts
  integration/catch-boundary-test.ts
  integration/client-data-test.ts
  integration/error-data-request-test.ts
  integration/fetcher-layout-test.ts
  integration/fetcher-test.ts
  integration/form-data-test.ts
  integration/form-test.ts
  integration/headers-test.ts
  integration/hook-useSubmit-test.ts
  integration/link-test.ts
  integration/loader-test.ts
  integration/matches-test.ts
  integration/multiple-cookies-test.ts
  integration/remix-serve-test.ts
  integration/request-test.ts
  integration/resource-routes-test.ts
  integration/revalidate-test.ts
  integration/set-cookie-revalidation-test.ts
  integration/transition-test.ts
  integration/vite-build-test.ts
  integration/vite-cloudflare-test.ts
  integration/vite-dev-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-dotenv-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-loader-context-test.ts
  packages/react-router/__tests__/data-router-no-dom-test.tsx
  packages/react-router/__tests__/dom/data-static-router-test.tsx
  packages/react-router/__tests__/dom/stub-test.tsx
  packages/react-router/__tests__/dom/use-blocker-test.tsx
  packages/react-router/__tests__/router/data-strategy-test.ts
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/__tests__/router/navigation-test.ts
  packages/react-router/__tests__/router/ssr-test.ts
  packages/react-router/__tests__/server-runtime/handle-error-test.ts
  packages/react-router/__tests__/server-runtime/handler-test.ts
  packages/react-router/__tests__/server-runtime/responses-test.ts
  packages/react-router/__tests__/server-runtime/server-test.ts
  packages/react-router/index.ts
  packages/react-router/lib/dom/ssr/data.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/server-runtime/data.ts
  packages/react-router/lib/server-runtime/responses.ts
  packages/react-router/lib/server-runtime/routeModules.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
  packages/react-router/lib/types.ts
Labels: CLA Signed

#12172 Update cookie dependency to 1.0
  .changeset/wet-actors-act.md
  packages/react-router/lib/server-runtime/cookies.ts
  packages/react-router/lib/server-runtime/sessions.ts
  packages/react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#12170 Fix defaultShouldRevalidate when using single fetch (Remix PR 10139)
  integration/single-fetch-test.ts
  packages/react-router/lib/dom/ssr/links.ts
  packages/react-router/lib/dom/ssr/routes.tsx
Labels: CLA Signed

#12171 Drop support for Node 18 and installGlobals
  .changeset/tidy-pens-help.md
  .github/workflows/integration-full.yml
  .github/workflows/integration-pr-ubuntu.yml
  .github/workflows/integration-pr-windows-macos.yml
  .github/workflows/shared-integration.yml
  .github/workflows/test.yml
  docs/deploying/custom-node.md
  integration/helpers/create-fixture.ts
  integration/helpers/node-template/package.json
  integration/helpers/vite-cloudflare-template/package.json
  integration/helpers/vite-template/package.json
  integration/helpers/vite.ts
  integration/vite-basename-test.ts
  jest/jest.config.shared.js
  package.json
  packages/react-router-architect/__tests__/setup.ts
  packages/react-router-architect/package.json
  packages/react-router-cloudflare/package.json
  packages/react-router-dev/__tests__/fixtures/node/package.json
  packages/react-router-dev/cli/run.ts
  packages/react-router-dev/package.json
  packages/react-router-dom/package.json
  packages/react-router-express/__tests__/setup.ts
  packages/react-router-express/package.json
  packages/react-router-fs-routes/package.json
  packages/react-router-node/__tests__/setup.ts
  packages/react-router-node/globals.ts
  packages/react-router-node/index.ts
  packages/react-router-node/install.ts
  packages/react-router-node/package.json
  packages/react-router-node/rollup.config.js
  packages/react-router-remix-config-routes-adapter/package.json
  packages/react-router-serve/cli.ts
  packages/react-router-serve/package.json
  packages/react-router/__tests__/router/navigation-test.ts
  packages/react-router/__tests__/router/router-memory-test.ts
  packages/react-router/__tests__/router/ssr-test.ts
  packages/react-router/__tests__/setup.ts
  packages/react-router/jest.config.js
  packages/react-router/package.json
  playground/compiler-express/package.json
  playground/compiler-express/server.js
  playground/compiler-spa/package.json
  playground/compiler/package.json
  playground/compiler/vite.config.ts
  pnpm-lock.yaml
  rollup.utils.js
Labels: CLA Signed

#12177 Clean up types within consolidated package
  .changeset/sour-cycles-lie.md
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/styles.ts
  packages/react-router/index.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/data.ts
  packages/react-router/lib/dom/ssr/entry.ts
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/dom/ssr/links.ts
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/dom/ssr/server.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/server-runtime/build.ts
  packages/react-router/lib/server-runtime/data.ts
  packages/react-router/lib/server-runtime/entry.ts
  packages/react-router/lib/server-runtime/headers.ts
  packages/react-router/lib/server-runtime/routeModules.ts
  packages/react-router/lib/server-runtime/routes.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#12180 Add generics for loader data, action data, and fetchers
  .changeset/long-peas-doubt.md
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/types.ts
Labels: CLA Signed

#12136 feat: configure export conditions properly
  .github/workflows/shared-build.yml
  .github/workflows/shared-integration.yml
  .github/workflows/test.yml
  .gitignore
  build.utils.ts
  integration/helpers/playwright-fixture.ts
  integration/vite-spa-mode-test.ts
  package.json
  packages/react-router-architect/package.json
  packages/react-router-architect/rollup.config.js
  packages/react-router-architect/tsup.config.ts
  packages/react-router-cloudflare/package.json
  packages/react-router-cloudflare/rollup.config.js
  packages/react-router-cloudflare/tsup.config.ts
  packages/react-router-dev/config/routes.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/rollup.config.js
  packages/react-router-dev/tsup.config.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dom/node-main.js
  packages/react-router-dom/package.json
  packages/react-router-dom/rollup.config.js
  packages/react-router-dom/tsup.config.ts
  packages/react-router-express/package.json
  packages/react-router-express/rollup.config.js
  packages/react-router-express/tsup.config.ts
  packages/react-router-fs-routes/package.json
  packages/react-router-fs-routes/rollup.config.js
  packages/react-router-fs-routes/tsup.config.ts
  packages/react-router-node/package.json
  packages/react-router-node/rollup.config.js
  packages/react-router-node/tsconfig.json
  packages/react-router-node/tsup.config.ts
  packages/react-router-remix-config-routes-adapter/package.json
  packages/react-router-remix-config-routes-adapter/rollup.config.js
  packages/react-router-remix-config-routes-adapter/tsup.config.ts
  packages/react-router-serve/package.json
  packages/react-router-serve/rollup.config.js
  packages/react-router-serve/tsup.config.ts
  packages/react-router/dom-export.ts
  packages/react-router/index.ts
  packages/react-router/lib/dom-export/dom-router-provider.tsx
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/data.ts
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/package.json
  packages/react-router/rollup.config.js
  packages/react-router/tsconfig.json
  packages/react-router/tsup.config.ts
  pnpm-lock.yaml
Labels: CLA Signed

#12187 fix: resolve config directory relative to flat output file structure
  .changeset/serious-beds-approve.md
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/tsup.config.ts
  packages/react-router-dev/vite/config.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/tsup.config.ts
Labels: CLA Signed

#12186 Docs: update testing docs imports
  docs/start/testing.md
Labels: CLA Signed

#12189 chore: update isRouteErrorResponse description
  contributors.yml
  packages/router/utils.ts
Labels: CLA Signed

#12197 Rename Remix route config adapter package
  decisions/0011-routes-ts.md
  integration/fs-routes-test.ts
  integration/helpers/node-template/package.json
  integration/helpers/vite-cloudflare-template/package.json
  integration/helpers/vite-template/package.json
  packages/react-router-fs-routes/README.md
  packages/react-router-fs-routes/package.json
  packages/react-router-remix-config-routes-adapter/README.md
  packages/react-router-remix-routes-option-adapter/README.md
  packages/react-router-remix-routes-option-adapter/__tests__/defineRoutes-test.ts
  packages/react-router-remix-routes-option-adapter/__tests__/routeManifestToRouteConfig-test.ts
  packages/react-router-remix-routes-option-adapter/defineRoutes.ts
  packages/react-router-remix-routes-option-adapter/index.ts
  packages/react-router-remix-routes-option-adapter/jest.config.js
  packages/react-router-remix-routes-option-adapter/manifest.ts
  packages/react-router-remix-routes-option-adapter/normalizeSlashes.ts
  packages/react-router-remix-routes-option-adapter/package.json
  packages/react-router-remix-routes-option-adapter/tsconfig.json
  packages/react-router-remix-routes-option-adapter/tsup.config.ts
  packages/react-router-remix-routes-option-adapter/typedoc.json
  pnpm-lock.yaml
  rollup.config.js
  scripts/publish.js
Labels: CLA Signed, v7

#12198 Remove unused Rollup references
  package.json
  rollup.config.js
  rollup.utils.js
Labels: CLA Signed

#12176 Enable prefetch e2e test by migrating to vite
  integration/helpers/create-fixture.ts
  integration/helpers/node-template/.gitignore
  integration/helpers/node-template/app/root.tsx
  integration/helpers/node-template/app/routes.ts
  integration/helpers/node-template/app/routes/_index.tsx
  integration/helpers/node-template/package.json
  integration/helpers/node-template/public/favicon.ico
  integration/helpers/node-template/remix.env.d.ts
  integration/helpers/node-template/tsconfig.json
  integration/prefetch-test.ts
  package.json
Labels: CLA Signed

#12203 typegen: allow configured app directory
  packages/react-router-dev/typescript/typegen.ts
  pnpm-lock.yaml
Labels: CLA Signed

#12204 fix emitted types for @react-router/dev
  packages/react-router-dev/tsup.config.ts
Labels: CLA Signed

#12190 fix: take the `appDirectory` into account when generating types
  contributors.yml
  packages/react-router-dev/typescript/typegen.ts
Labels: CLA Signed

#12207 Add create-react-router CLI
  packages/create-react-router/README.md
  packages/create-react-router/__tests__/create-react-router-test.ts
  packages/create-react-router/__tests__/fixtures/basic/.gitignore
  packages/create-react-router/__tests__/fixtures/basic/README.md
  packages/create-react-router/__tests__/fixtures/basic/app/root.tsx
  packages/create-react-router/__tests__/fixtures/basic/app/routes.ts
  packages/create-react-router/__tests__/fixtures/basic/app/routes/home.tsx
  packages/create-react-router/__tests__/fixtures/basic/package.json
  packages/create-react-router/__tests__/fixtures/basic/public/favicon.ico
  packages/create-react-router/__tests__/fixtures/basic/tsconfig.json
  packages/create-react-router/__tests__/fixtures/basic/vite.config.ts
  packages/create-react-router/__tests__/fixtures/blank/package.json
  packages/create-react-router/__tests__/fixtures/nested-dir-repo.tar.gz
  packages/create-react-router/__tests__/fixtures/react-router-repo.tar.gz
  packages/create-react-router/__tests__/fixtures/tar.js
  packages/create-react-router/__tests__/fixtures/template.tar.gz
  packages/create-react-router/__tests__/fixtures/template.tgz
  packages/create-react-router/__tests__/fixtures/with-ignored-dir/package.json
  packages/create-react-router/__tests__/github-mocks.ts
  packages/create-react-router/__tests__/msw-register.ts
  packages/create-react-router/__tests__/msw.ts
  packages/create-react-router/__tests__/setupAfterEnv.ts
  packages/create-react-router/cli.ts
  packages/create-react-router/copy-template.ts
  packages/create-react-router/index.ts
  packages/create-react-router/jest.config.js
  packages/create-react-router/loading-indicator.ts
  packages/create-react-router/package.json
  packages/create-react-router/prompt.ts
  packages/create-react-router/prompts-confirm.ts
  packages/create-react-router/prompts-multi-select.ts
  packages/create-react-router/prompts-prompt-base.ts
  packages/create-react-router/prompts-select.ts
  packages/create-react-router/prompts-text.ts
  packages/create-react-router/tsconfig.json
  packages/create-react-router/tsup.config.ts
  packages/create-react-router/utils.ts
  pnpm-lock.yaml
  scripts/publish.js
Labels: CLA Signed, v7

#12211 Add `watch` npm script
  package.json
Labels: CLA Signed

#12210 typegen --watch
  .changeset/typesafety.md
  .vscode/settings.json
  decisions/0012-type-inference.md
  docs/explanation/type-safety.md
  docs/how-to/setting-up-type-safety.md
  packages/react-router-dev/__tests__/cli-test.ts
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/cli/run.ts
  packages/react-router-dev/colors.ts
  packages/react-router-dev/logger.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/tsup.config.ts
  packages/react-router-dev/typegen.ts
  packages/react-router-dev/typescript/plugin.ts
  playground/compiler-express/package.json
  playground/compiler-express/tsconfig.json
  playground/compiler-spa/package.json
  playground/compiler-spa/tsconfig.json
  playground/compiler/.vscode/settings.json
  playground/compiler/package.json
  playground/compiler/tsconfig.json
  pnpm-lock.yaml
Labels: CLA Signed

#12213 typegen: autoimport for `Route` types
  .changeset/typesafety.md
  docs/explanation/type-safety.md
  docs/how-to/resource-routes.md
  docs/start/actions.md
  docs/start/data-loading.md
  docs/start/routing.md
  packages/react-router-dev/typegen.ts
  playground/compiler/app/routes/_index.tsx
  playground/compiler/app/routes/product.tsx
Labels: CLA Signed

#12214 typegen: add tests
  integration/helpers/vite-template/package.json
  integration/helpers/vite-template/tsconfig.json
  integration/typegen-test.ts
Labels: CLA Signed
