Repository remix-run/react-router, pull requests merged in 2024-11, with the labels that each got.

#12215 Add create-react-router to docs
  docs/start/installation.md
  packages/create-react-router/README.md
Labels: CLA Signed, v7

#12216 Update basic template to latest pre
  templates/basic/package.json
Labels: CLA Signed, v7

#12218 typegen: fix splat param types
  integration/typegen-test.ts
  packages/react-router-dev/typegen.ts
Labels: CLA Signed

#12221 Temporarily revert create-react-router docs
  docs/start/installation.md
Labels: CLA Signed, v7

#12223 Add hashbang to CLI entries
  packages/create-react-router/cli.ts
  packages/react-router-dev/cli/index.ts
  packages/react-router-serve/cli.ts
Labels: CLA Signed, v7

#12224 Add `.react-router` to gitignore
  .gitignore
  integration/helpers/vite-template/.gitignore
Labels: CLA Signed, v7

#12225 Fix docs usage of dev command
  docs/upgrading/vite-component-routes.md
  docs/upgrading/vite-router-provider.md
Labels: CLA Signed, v7

#12227 fix typesafety docs link
  docs/explanation/type-safety.md
Labels: CLA Signed

#12228 fix more docs links
  docs/explanation/type-safety.md
  docs/framework/how-to/setting-up-type-safety.md
Labels: CLA Signed

#12236 typegen: custom app dir test
  integration/typegen-test.ts
Labels: CLA Signed

#12237 Bump template and adjust docs on typegen
  docs/explanation/type-safety.md
  docs/framework/how-to/setting-up-type-safety.md
  templates/basic/.vscode/settings.json
  templates/basic/.vscode/tasks.json
  templates/basic/package.json
  templates/basic/tsconfig.json
Labels: CLA Signed

#12239 Add create-react-router to framework docs
  docs/framework/start/installation.md
Labels: CLA Signed, v7

#12241 docs: file upload "how to"
  docs/framework/how-to/file-uploads.md
  docs/framework/how-to/resource-routes.md
Labels: CLA Signed

#12242 typegen: refactor
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/typegen.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed

#12240 v7_skipActionStatusRevalidation -> v7_skipActionErrorRevalidation in Docs
  contributors.yml
  docs/upgrading/v6.md
Labels: CLA Signed

#12247 docs: add view transition "how to"
  docs/framework/how-to/view-transitions.md
Labels: CLA Signed

#12246 typegen: dynamic segments with dot
  integration/typegen-test.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/typegen/generate.ts
  packages/react-router/__tests__/path-matching-test.tsx
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/test-types.ts
  packages/react-router/lib/types.ts
Labels: CLA Signed

#12123 docs(components/form): add `Registration Form` example
  docs/components/form.md
Labels: docs, CLA Signed

#12253 chore: change `v7_skipActionStatusRevalidation` to `v7_skipActionErrorRevalidation`
  contributors.yml
  docs/upgrading/future.md
Labels: CLA Signed

#12255 Fix incorrect link
  contributors.yml
  docs/components/link.md
Labels: CLA Signed

#12258 chore(.github/workflows): update github actions 'uses' to latest version
  .github/workflows/deduplicate-lock-file.yml
  .github/workflows/format.yml
  .github/workflows/no-response.yml
  .github/workflows/release-experimental.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  .github/workflows/shared-build.yml
  .github/workflows/shared-integration.yml
  .github/workflows/test.yml
  contributors.yml
Labels: CLA Signed

#12263 Typo fix: '?' is placed in a wrong position
  contributors.yml
  docs/start/overview.md
Labels: CLA Signed

#12161 fix(react-router): (v7) fix static prerender non-ascii problem
  .changeset/shiny-cameras-try.md
  contributors.yml
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/server-runtime/routes.ts
Labels: CLA Signed

#12270 fix(dev): warn instead of error for min node version
  .changeset/empty-glasses-dream.md
  packages/react-router-dev/cli/run.ts
Labels: CLA Signed, @react-router/dev

#12269 chore: re-enable development warnings
  .changeset/four-needles-search.md
  integration/vite-spa-mode-test.ts
  jest/jest.config.shared.js
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/hooks.tsx
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Labels: CLA Signed, react-router, @react-router/dev

#12274 Remove unneeded dependency on @web3-storage/multipart-parser
  .changeset/nine-peas-change.md
  contributors.yml
  packages/react-router-node/package.json
  packages/react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#12275 Remove unneeded dependency on source-map
  .changeset/twelve-bees-sin.md
  packages/react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#12273 types: remove `SerializeFrom`
  packages/react-router-dev/typegen/generate.ts
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types/route-data.ts
  packages/react-router/lib/types/route-module.ts
  packages/react-router/lib/types/utils.ts
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Labels: CLA Signed

#12276 fix package export path for `/route-module`
  integration/typegen-test.ts
  packages/react-router/package.json
Labels: CLA Signed

#12282 typegen: parent routes
  integration/typegen-test.ts
  packages/react-router-dev/typegen/context.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/paths.ts
  packages/react-router/index.ts
  packages/react-router/lib/types/meta-match.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12283 typegen: deprecate old types
  packages/react-router/lib/dom/ssr/routeModules.ts
Labels: CLA Signed

#12284 typegen: `+types.<route>` -> `+types/<route>`
  integration/typegen-test.ts
  packages/react-router-dev/typegen/context.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/paths.ts
  packages/react-router/lib/types/route-module.ts
  playground/compiler/app/routes/_index.tsx
  playground/compiler/app/routes/product.tsx
Labels: CLA Signed

#12251 Add `react-router.config.ts`
  .changeset/prerendering.md
  .changeset/remove-manifest-option.md
  docs/start/framework/rendering.md
  docs/upgrading/component-routes.md
  docs/upgrading/router-provider.md
  integration/helpers/create-fixture.ts
  integration/helpers/vite.ts
  integration/single-fetch-test.ts
  integration/typegen-test.ts
  integration/vite-basename-test.ts
  integration/vite-manifests-test.ts
  integration/vite-prerender-test.ts
  integration/vite-presets-test.ts
  integration/vite-server-bundles-test.ts
  integration/vite-spa-mode-test.ts
  packages/react-router-dev/config.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/tsup.config.ts
  packages/react-router-dev/typegen/context.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/paths.ts
  packages/react-router-dev/vite.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
  playground/compiler-spa/react-router.config.ts
  playground/compiler-spa/vite.config.ts
Labels: CLA Signed, v7

#12289 typegen: not ignored by skipLibCheck
  packages/react-router-dev/typegen/paths.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12291 matches as component prop
  integration/typegen-test.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/vite/with-props.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12292 future flag: unstable_optimizeDeps
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12294 add typecheck script to react-router-dev
  packages/react-router-dev/__tests__/cli-test.ts
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/cli/run.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/tsconfig.json
  packages/react-router-dev/vite/styles.ts
Labels: CLA Signed

#12296 automatic typegen when using vite plugin
  integration/typegen-test.ts
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/logger.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/paths.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12297 template: remove vscode tasks
  playground/compiler-express/package.json
  playground/compiler-spa/package.json
  playground/compiler/package.json
  templates/basic/.vscode/tasks.json
  templates/basic/package.json
Labels: CLA Signed

#12298 fix types for `Await`'s render prop
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#12299 only typegen.watch during dev
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12300 relative route files in resolved config
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/config/routes.ts
  packages/react-router-dev/typegen/paths.ts
Labels: CLA Signed

#12305 Make routes the default export in `routes.ts`
  decisions/0011-routes-ts.md
  docs/explanation/type-safety.md
  docs/how-to/file-route-conventions.md
  docs/how-to/form-validation.md
  docs/index.md
  docs/start/framework/routing.md
  docs/upgrading/component-routes.md
  docs/upgrading/remix.md
  docs/upgrading/router-provider.md
  integration/fs-routes-test.ts
  integration/helpers/vite-cloudflare-template/app/routes.ts
  integration/helpers/vite-template/app/routes.ts
  integration/route-config-test.ts
  integration/typegen-test.ts
  integration/vite-spa-mode-test.ts
  packages/create-react-router/__tests__/fixtures/basic/app/routes.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/config/routes.ts
  playground/compiler-express/app/routes.ts
  playground/compiler-spa/app/routes.ts
  playground/compiler/app/routes.ts
  templates/basic/app/routes.ts
Labels: CLA Signed, v7

#12306 Fix template `routes.ts`
  templates/basic/app/routes.ts
Labels: CLA Signed

#12307 Update examples in docs for `routes.ts`
  docs/explanation/code-splitting.md
  docs/how-to/form-validation.md
Labels: CLA Signed, v7

#12303 fix wrong linking for Get Started link
  contributors.yml
  docs/index.md
Labels: CLA Signed

#12309 un-deprecate types for library mode
  packages/react-router/lib/dom/ssr/routeModules.ts
Labels: CLA Signed

#12277 Add createRequestListener to @react-router/node
  packages/react-router-node/index.ts
  packages/react-router-node/package.json
  packages/react-router-node/server.ts
  pnpm-lock.yaml
Labels: CLA Signed

#12310 docs(upgrading/remix): update with latest info
  docs/upgrading/remix.md
Labels: CLA Signed

#12313 docs: update remix AppLoadContext migration
  docs/upgrading/remix.md
Labels: CLA Signed

#12318 typegen: headers
  packages/react-router-dev/typegen/generate.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12317 Framework adoption guides
  docs/upgrading/component-routes.md
  docs/upgrading/router-provider.md
Labels: CLA Signed

#12330 Add decision doc for `react-router.config.ts`
  decisions/0013-react-router-config-ts.md
Labels: CLA Signed, v7

#12329 Rename `compiler` playgrounds to `framework`
  playground/framework-express/.gitignore
  playground/framework-express/app/entry.client.tsx
  playground/framework-express/app/entry.server.tsx
  playground/framework-express/app/root.tsx
  playground/framework-express/app/routes.ts
  playground/framework-express/app/routes/_index.tsx
  playground/framework-express/package.json
  playground/framework-express/public/favicon.ico
  playground/framework-express/server.js
  playground/framework-express/tsconfig.json
  playground/framework-express/vite.config.ts
  playground/framework-spa/.gitignore
  playground/framework-spa/app/entry.client.tsx
  playground/framework-spa/app/entry.server.tsx
  playground/framework-spa/app/root.tsx
  playground/framework-spa/app/routes.ts
  playground/framework-spa/app/routes/_index.tsx
  playground/framework-spa/package.json
  playground/framework-spa/public/favicon.ico
  playground/framework-spa/react-router.config.ts
  playground/framework-spa/tsconfig.json
  playground/framework-spa/vite.config.ts
  playground/framework/.gitignore
  playground/framework/app/entry.client.tsx
  playground/framework/app/entry.server.tsx
  playground/framework/app/root.tsx
  playground/framework/app/routes.ts
  playground/framework/app/routes/_index.tsx
  playground/framework/app/routes/product.tsx
  playground/framework/package.json
  playground/framework/public/favicon.ico
  playground/framework/tsconfig.json
  playground/framework/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed, v7

#12333 Update `RouteConfig` type description
  packages/react-router-dev/config/routes.ts
Labels: CLA Signed, v7

#12331 Fix typegen watcher leak on dev restart
  .changeset/nice-cobras-sparkle.md
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, v7

#12338 fix: pass route error to errorboundary as a prop
  packages/react-router-dev/vite/with-props.ts
Labels: CLA Signed

#12336 docs: fix broken links
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  contributors.yml
Labels: docs, CLA Signed

#12339 docs: Framework Adoption from RouterProvider
  docs/upgrading/component-routes.md
  docs/upgrading/router-provider.md
Labels: CLA Signed

#12332 Add `dev/config` entry to TypeDoc config
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/typedoc.json
Labels: CLA Signed, v7

#12340 docs: special files
  docs/explanation/special-files.md
Labels: CLA Signed

#12342 Update default create-react-router template
  packages/create-react-router/__tests__/fixtures/react-router-repo.tar.gz
  packages/create-react-router/__tests__/fixtures/templates-repo.tar.gz
  packages/create-react-router/__tests__/github-mocks.ts
  packages/create-react-router/index.ts
Labels: CLA Signed, v7

#12343 fix broken link in the home page of dev branch
  contributors.yml
  docs/index.md
Labels: CLA Signed

#12354 docs: fix resource-routes json example
  contributors.yml
  docs/how-to/resource-routes.md
Labels: CLA Signed

#12355 docs: correct error-boundary how-to doc
  contributors.yml
  docs/how-to/error-boundary.md
Labels: CLA Signed

#12341 moved for API docs
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#12367 docs(explanation/type-safety): fix typo
  docs/explanation/type-safety.md
Labels: docs, CLA Signed

#12377 docs(start/framework/route-module): fix typos
  docs/start/framework/route-module.md
Labels: docs, CLA Signed

#12393 docs: route module type safety when there are multiple tsconfigs
  docs/how-to/route-module-type-safety.md
Labels: CLA Signed

#12394 docs: make ts treat `env.ts` as a module
  docs/upgrading/remix.md
Labels: CLA Signed

#12404 docs(README): fix broken links
  README.md
  contributors.yml
Labels: docs, CLA Signed

#12422 docs(how-to/file-route-conventions): fix typo
  contributors.yml
  docs/how-to/file-route-conventions.md
Labels: docs, CLA Signed

#12421 docs(how-to/file-route-conventions): fix links
  contributors.yml
  docs/how-to/file-route-conventions.md
Labels: docs, CLA Signed

#12420 docs(upgrading/v6): add linux example in `Update imports` section
  contributors.yml
  docs/upgrading/v6.md
Labels: docs, CLA Signed
