Repository remix-run/react-router, pull requests merged in 2025-06, with the labels that each got.

#12453 fix(dev/typegen): fix non-JS/TS files
  .changeset/two-needles-sell.md
  contributors.yml
  packages/react-router-dev/typegen/generate.ts
Labels: CLA Signed, pkg:@react-router/dev

#13738 perf: use `replaceAll` for slash normalisation
  .changeset/tasty-peas-retire.md
  contributors.yml
  packages/react-router-fs-routes/normalizeSlashes.ts
  packages/react-router-remix-routes-option-adapter/normalizeSlashes.ts
Labels: CLA Signed, pkg:@react-router/fs-routes, pkg:@react-router/remix-routes-option-adapter

#13727 Add pathless fog of war test to fetchers unit tests
  packages/react-router/__tests__/router/fetchers-test.ts
Labels: CLA Signed

#13726 feat(react-router): rename RSC `default` route property to `Component`
  integration/helpers/rsc-parcel/src/routes/home.tsx
  integration/rsc/rsc-test.ts
  packages/react-router/lib/rsc/server.rsc.ts
  playground/rsc-parcel/src/routes/about/about.client.tsx
  playground/rsc-parcel/src/routes/about/about.tsx
  playground/rsc-parcel/src/routes/fetcher/fetcher.client.tsx
  playground/rsc-parcel/src/routes/fetcher/fetcher.ts
  playground/rsc-parcel/src/routes/home/home.client.tsx
  playground/rsc-parcel/src/routes/home/home.tsx
  playground/rsc-parcel/src/routes/root/root.client.tsx
  playground/rsc-parcel/src/routes/root/root.tsx
  playground/rsc-vite/src/routes/about/about.client.tsx
  playground/rsc-vite/src/routes/about/about.tsx
  playground/rsc-vite/src/routes/child/child.tsx
  playground/rsc-vite/src/routes/home/home.tsx
  playground/rsc-vite/src/routes/parent-index/parent-index.tsx
  playground/rsc-vite/src/routes/parent/parent.tsx
  playground/rsc-vite/src/routes/root/root.tsx
Labels: CLA Signed, pkg:react-router, feat:rsc

#13718 chore: remove unused `npm-run-all` dependency
  integration/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies

#13688 docs(GOVERNANCE): fix typos + grammar
  .github/ISSUE_TEMPLATE/bug_report.yml
  GOVERNANCE.md
Labels: docs, CLA Signed

#13752 Do not serialize types for `useRouteLoaderData<typeof clientLoader>()`
  .changeset/weak-turkeys-pretend.md
  integration/typegen-test.ts
  packages/react-router/lib/types/route-data.ts
  packages/react-router/lib/types/route-module-annotations.ts
Labels: CLA Signed

#13753 chore: fix "⚙️ Deduplicate lock file" workflow
  .github/workflows/deduplicate-lock-file.yml
Labels: CLA Signed, dependencies

#13756 Attempt to fix the deduplicate-lock-file action
  .github/workflows/deduplicate-lock-file.yml
Labels: CLA Signed

#13755 fix: flushSync support
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#13763 Support RSC lazy `default` export as `Component` fallback
  integration/helpers/rsc-parcel/src/routes/home.tsx
  integration/rsc/rsc-test.ts
  packages/react-router/lib/rsc/server.rsc.ts
  playground/rsc-parcel/src/routes/about/about.client.tsx
  playground/rsc-parcel/src/routes/about/about.tsx
  playground/rsc-parcel/src/routes/fetcher/fetcher.client.tsx
  playground/rsc-parcel/src/routes/fetcher/fetcher.ts
  playground/rsc-parcel/src/routes/home/home.client.tsx
  playground/rsc-parcel/src/routes/home/home.tsx
  playground/rsc-parcel/src/routes/root/root.client.tsx
  playground/rsc-parcel/src/routes/root/root.tsx
  playground/rsc-vite/src/routes/about/about.client.tsx
  playground/rsc-vite/src/routes/home/home.tsx
  playground/rsc-vite/src/routes/parent-index/parent-index.tsx
  playground/rsc-vite/src/routes/parent/parent.tsx
  playground/rsc-vite/src/routes/root/root.tsx
Labels: CLA Signed, pkg:react-router, feat:rsc

#13761 chore(react-router): remove unused code
  packages/react-router/__tests__/server-runtime/utils.ts
Labels: CLA Signed, pkg:react-router

#13760 chore(node): remove unused file
  packages/react-router-node/__tests__/utils.ts
Labels: CLA Signed, pkg:@react-router/node

#13757 fix(cloudflare): remove `tsup` from `peerDependencies`
  .changeset/silent-boxes-sell.md
  packages/react-router-cloudflare/package.json
Labels: CLA Signed, dependencies, pkg:@react-router/cloudflare

#13764 docs(start/framework/routing): add 404 route instructions
  docs/start/framework/routing.md
Labels: docs, CLA Signed

#13769 404 route to file routing doc
  docs/how-to/file-route-conventions.md
Labels: CLA Signed

#13787 Remove reference to a screenshot that doesn't exist
  docs/tutorials/address-book.md
Labels: CLA Signed

#13798 Add `hasComponent` to RSC route manifest
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#13236 docs: add `how-to/acessibility`
  contributors.yml
  docs/how-to/accessibility.md
Labels: docs, CLA Signed

#13806 docs: fix broken links to API docs
  docs/api/components/Await.md
  docs/api/components/Link.md
  docs/api/hooks/useLoaderData.md
  docs/api/hooks/useNavigate.md
  docs/api/hooks/useResolvedPath.md
  docs/api/hooks/useRouteError.md
Labels: CLA Signed

#13807 docs(decisions): fix typos
  contributors.yml
  decisions/0003-data-strategy.md
  decisions/0005-remixing-react-router.md
Labels: docs, CLA Signed

#13810 Fix Typos in Documentation and Test Comments
  contributors.yml
  docs/start/framework/route-module.md
  packages/react-router/__tests__/server-runtime/cookies-test.ts
Labels: CLA Signed

#13792 fix: Add validation for a route's id not being 'root'
  .changeset/tender-snails-attack.md
  packages/react-router-dev/__tests__/route-config-test.ts
  packages/react-router-dev/config/routes.ts
Labels: CLA Signed

#13744 fix(dev/config): skip `package.json` resolution with custom `server.entry`
  .changeset/large-points-arrive.md
  contributors.yml
  packages/react-router-dev/config/config.ts
Labels: CLA Signed, pkg:@react-router/dev

#13823 chore(rsc): update vite-rsc and add css example
  contributors.yml
  integration/helpers/rsc-vite/package.json
  playground/rsc-vite/package.json
  playground/rsc-vite/src/routes/home/home.client.css
  playground/rsc-vite/src/routes/home/home.client.tsx
  playground/rsc-vite/src/routes/root/root.css
  playground/rsc-vite/src/routes/root/root.tsx
  pnpm-lock.yaml
Labels: CLA Signed

#13838 fix(rsc): export default root ErrorBoundary
  packages/react-router/index.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/errorBoundaries.tsx
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: CLA Signed, pkg:react-router, feat:rsc

#13803 docs(api/hooks/useBlocker): finish doc
  docs/api/hooks/useBlocker.md
Labels: docs, CLA Signed

#13862 Revert "Bump changesets/action from 1.4.10 to 1.5.3"
  .github/workflows/release.yml
Labels: CLA Signed

#13865 chore(CI): make dedupe workflow a bit cleaner
  .github/workflows/deduplicate-lock-file.yml
Labels: CLA Signed

#13856 fix(rsc): add react-server condition to react-router
  docs/start/rsc/installation.md
  integration/action-test.ts
  integration/helpers/playwright-fixture.ts
  integration/helpers/rsc-parcel-framework/package.json
  integration/helpers/rsc-parcel/package.json
  integration/helpers/rsc-parcel/src/browser.tsx
  integration/helpers/rsc-parcel/src/entry.browser.tsx
  integration/helpers/rsc-parcel/src/entry.rsc.ts
  integration/helpers/rsc-parcel/src/entry.ssr.tsx
  integration/helpers/rsc-parcel/src/parcel-entry-wrapper.ts
  integration/helpers/rsc-parcel/src/prerender.tsx
  integration/helpers/rsc-parcel/src/routes.ts
  integration/helpers/rsc-parcel/src/server.tsx
  integration/helpers/rsc-vite/src/entry.browser.tsx
  integration/helpers/rsc-vite/src/entry.rsc.tsx
  integration/helpers/rsc-vite/src/routes.ts
  integration/redirects-test.ts
  integration/rsc/rsc-test.ts
  packages/react-router/index-react-server-client.ts
  packages/react-router/index-react-server.ts
  packages/react-router/index.ts
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  packages/react-router/package.json
  packages/react-router/tsup.config.rsc.ts
  packages/react-router/tsup.config.ts
  playground/rsc-parcel-framework/package.json
  playground/rsc-parcel/src/entry.browser.tsx
  playground/rsc-parcel/src/entry.rsc.ts
  playground/rsc-parcel/src/routes.ts
  playground/rsc-parcel/src/routes/home/home.actions.ts
  playground/rsc-vite/src/entry.browser.tsx
  playground/rsc-vite/src/entry.rsc.tsx
  playground/rsc-vite/src/routes.ts
  playground/rsc-vite/src/routes/about/about.tsx
  playground/rsc-vite/src/routes/home/home.tsx
  playground/rsc-vite/src/routes/redirect.ts
  playground/rsc-vite/src/routes/root/root.tsx
  pnpm-lock.yaml
Labels: CLA Signed

#13881 docs(tutorials/quickstart): fix grammar + remove duplicate link
  docs/tutorials/quickstart.md
Labels: docs, CLA Signed

#13887 chore(close-no-repro-issues): fix grammar
  scripts/close-no-repro-issues.md
Labels: CLA Signed

#13889 fix(rsc): rename "server" APIs to use "RSC"
  docs/api/rsc/RSCHydratedRouter.md
  docs/api/rsc/RSCStaticRouter.md
  docs/api/rsc/getRSCStream.md
  docs/api/rsc/matchRSCServerRequest.md
  docs/api/rsc/routeRSCServerRequest.md
  docs/start/rsc/installation.md
  integration/helpers/rsc-parcel-framework/package.json
  integration/helpers/rsc-parcel/src/browser.tsx
  integration/helpers/rsc-parcel/src/routes.ts
  integration/helpers/rsc-vite/src/entry.browser.tsx
  integration/helpers/rsc-vite/src/routes.ts
  integration/rsc/rsc-test.ts
  packages/react-router/index-react-server.ts
  packages/react-router/index.ts
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/html-stream/browser.ts
  packages/react-router/lib/rsc/server.rsc.ts
  packages/react-router/lib/rsc/server.ssr.tsx
  playground/rsc-parcel-framework/package.json
  playground/rsc-parcel/src/entry.browser.tsx
  playground/rsc-parcel/src/routes.ts
  playground/rsc-vite/src/entry.browser.tsx
  playground/rsc-vite/src/routes.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:react-router, feat:rsc

#13888 docs: framework convention docs
  docs/api/components/ServerRouter.md
  docs/api/data-routers/index.md
  docs/api/declarative-routers/index.md
  docs/api/framework-conventions/client-modules.md
  docs/api/framework-conventions/entry.client.tsx.md
  docs/api/framework-conventions/entry.server.tsx.md
  docs/api/framework-conventions/index.md
  docs/api/framework-conventions/react-router.config.ts.md
  docs/api/framework-conventions/root.tsx.md
  docs/api/framework-conventions/routes.ts.md
  docs/api/framework-conventions/server-modules.md
  docs/explanation/special-files.md
Labels: docs, CLA Signed

#13892 docs: address typos in governance doc
  GOVERNANCE.md
Labels: CLA Signed

#13891 docs: add Lazy Route Discovery doc
  docs/api/framework-conventions/react-router.config.ts.md
  docs/explanation/lazy-route-discovery.md
Labels: CLA Signed

#13903 docs: Added async keyword to the loader function in the Await documentation
  contributors.yml
  docs/api/components/Await.md
Labels: CLA Signed

#13894 fix(rsc): support HydrateFallback
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: CLA Signed, pkg:react-router, feat:rsc

#13746 fix(dev/vite): properly handle `https` protocol in dev mode
  .changeset/calm-swans-tap.md
  packages/react-router-dev/vite/node-adapter.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite

#13908 Update `Location` link at `useLocation.md`
  contributors.yml
  docs/api/hooks/useLocation.md
Labels: CLA Signed

#13759 chore: cleanup root `package.json`
  integration/package.json
  package.json
  packages/create-react-router/package.json
  packages/react-router-dev/package.json
  packages/react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies

#12784 fix(react-router): fix `useSearchParams` when used together w/ `useBlocker`
  .changeset/curly-sloths-end.md
  contributors.yml
  packages/react-router/__tests__/dom/search-params-test.tsx
  packages/react-router/lib/dom/lib.tsx
Labels: CLA Signed, pkg:react-router
