Repository remix-run/react-router, pull requests merged in 2025-09, with the labels that each got.

#14270 Add `@vitejs/plugin-rsc` as optional peer dependency
  integration/helpers/rsc-vite-framework/vite.config.ts
  integration/helpers/vite.ts
  integration/vite-plugin-order-validation-test.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/vite/plugins/validate-plugin-order.ts
  packages/react-router-dev/vite/rsc/plugin.ts
  playground/rsc-vite-framework/package.json
  playground/rsc-vite-framework/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14271 Improve `optimizeDeps` in RSC Framework Mode
  packages/react-router-dev/vite/has-dependency.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/rsc/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14272 Handle route config changes in RSC Framework Mode
  packages/react-router-dev/vite/rsc/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14283 docs(useNavigate): fix broken markdown link to history api
  contributors.yml
  docs/api/hooks/useNavigate.md
Labels: CLA Signed

#14277 Support Vite middleware mode in RSC Framework Mode
  integration/helpers/vite.ts
  integration/vite-basename-test.ts
  integration/vite-css-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/react-router-dev/vite/rsc/plugin.ts
  playground/rsc-vite-framework/package.json
  playground/rsc-vite-framework/start-vite-middleware.js
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14311 docs: fix code example of buildEnd hook
  docs/api/framework-conventions/react-router.config.ts.md
Labels: CLA Signed

#14316 Escape JSON LD content in <Meta />
  .changeset/angry-planets-admire.md
  packages/react-router/__tests__/dom/ssr/meta-test.tsx
  packages/react-router/__tests__/server-runtime/markup-test.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/markup.ts
  packages/react-router/lib/server-runtime/markup.ts
  packages/react-router/lib/server-runtime/serverHandoff.ts
Labels: CLA Signed

#14324 Support RSC Framework Mode in react-router-serve
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/vite.ts
  integration/react-router-serve-test.ts
  integration/remix-serve-test.ts
  integration/vite-basename-test.ts
  integration/vite-css-test.ts
  packages/react-router-dev/config/default-rsc-entries/entry.rsc.tsx
  packages/react-router-dev/vite/rsc/plugin.ts
  packages/react-router-serve/cli.ts
  packages/react-router-serve/package.json
  playground/rsc-vite-framework/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, pkg:@react-router/serve, feat:vite, feat:rsc

#14339 Update `@vitejs/plugin-rsc` to v0.4.30
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/rsc-vite/package.json
  packages/react-router-dev/package.json
  playground/rsc-vite-framework/package.json
  playground/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#13927 refactor(dev/vite): use `@remix-run/node-fetch-server`
  .changeset/sour-crews-destroy.md
  packages/react-router-dev/package.json
  packages/react-router-dev/vite/cloudflare-dev-proxy.ts
  packages/react-router-dev/vite/node-adapter.ts
  packages/react-router-dev/vite/plugin.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite

#14354 optimize rsc client deps
  packages/react-router-dev/vite/rsc/plugin.ts
Labels: CLA Signed

#14336 Add unstable support for RSC Framework Mode
  .changeset/funny-gifts-melt.md
  docs/how-to/react-server-components.md
  integration/helpers/rsc-vite-framework/vite.config.ts
  integration/helpers/vite.ts
  integration/typegen-test.ts
  integration/vite-plugin-order-validation-test.ts
  packages/react-router-dev/internal.ts
  packages/react-router-dev/package.json
  packages/react-router-dev/vite.ts
  playground/rsc-vite-framework/vite.config.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14359 set encoding for html response
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: CLA Signed

#14362 feat: attempt at enabling full transition support for the rsc router
  .changeset/lucky-tables-itch.md
  integration/rsc/rsc-test.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/rsc/browser.tsx
Labels: CLA Signed, pkg:react-router, feat:rsc

#14385 Avoid decoding CDN errors that never reached the origin server
  .changeset/happy-hornets-judge.md
  integration/error-boundary-v2-test.ts
  integration/error-data-request-test.ts
  packages/react-router/__tests__/server-runtime/server-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  packages/react-router/lib/rsc/server.ssr.tsx
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#14397 docs: update deployment guides with links to for Vercel, Cloudflare, and Netlify's docs
  docs/start/framework/deploying.md
Labels: CLA Signed

#14402 better playwright fixtures: `cwd`, `edit`, `$`
  integration/helpers/fixtures.ts
  integration/package.json
  integration/typegen-test.ts
  pnpm-lock.yaml
Labels: CLA Signed
