Repository remix-run/react-router, pull requests merged in 2025-02, with the labels that each got.

#12931 Change badge style
  README.md
  contributors.yml
Labels: CLA Signed

#12957 Fix typos
  contributors.yml
  docs/upgrading/component-routes.md
Labels: CLA Signed

#12936 Add unstable Vite Environment API support
  .changeset/thin-rockets-fly.md
  integration/helpers/vite.ts
  integration/vite-build-test.ts
  integration/vite-cloudflare-test.ts
  integration/vite-css-test.ts
  integration/vite-dev-test.ts
  integration/vite-server-bundles-test.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/cloudflare-dev-proxy.ts
  packages/react-router-dev/vite/plugin.ts
  playground/framework-vite-5/.gitignore
  playground/framework-vite-5/app/root.tsx
  playground/framework-vite-5/app/routes.ts
  playground/framework-vite-5/app/routes/_index.tsx
  playground/framework-vite-5/app/routes/product.tsx
  playground/framework-vite-5/package.json
  playground/framework-vite-5/public/favicon.ico
  playground/framework-vite-5/tsconfig.json
  playground/framework-vite-5/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed, @react-router/dev

#12962 Add blank `react-router.config.ts` to playgrounds
  playground/framework-express/react-router.config.ts
  playground/framework-vite-5/react-router.config.ts
  playground/framework/react-router.config.ts
Labels: CLA Signed

#12968 edit: tutorial/address-book Active Link Styling in sidebar
  contributors.yml
  tutorials/address-book/app/data.ts
Labels: CLA Signed

#12977 docs: reword phrasing about header forwarding from actions/loaders
  contributors.yml
  docs/how-to/headers.md
Labels: CLA Signed

#12985 Extend server bundle env from user SSR env
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12969 Handle custom `envDir` in Vite config
  .changeset/afraid-buses-pay.md
  integration/helpers/vite.ts
  integration/vite-dotenv-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12986 Fix custom SSR environment build entry
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13004 Skip action-only resource routes with prerender:true
  .changeset/late-nails-hear.md
  .changeset/rotten-numbers-bathe.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12994 Type-safe href
  .changeset/dull-balloons-boil.md
  .changeset/khaki-rocks-cover.md
  .changeset/three-eyes-flow.md
  integration/cli-test.ts
  integration/helpers/vite-5-template/tsconfig.json
  integration/helpers/vite-6-template/tsconfig.json
  integration/helpers/vite-cloudflare-template/tsconfig.json
  integration/typegen-test.ts
  packages/react-router-dev/__tests__/cli-reveal-test.ts
  packages/react-router-dev/__tests__/cli-routes-test.ts
  packages/react-router-dev/__tests__/cli-test.ts
  packages/react-router-dev/cli/run.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/params.ts
  packages/react-router-dev/typegen/route.ts
  packages/react-router/__tests__/href-test.ts
  packages/react-router/index.ts
  packages/react-router/lib/href.ts
  packages/react-router/lib/types/register.ts
Labels: CLA Signed

#13012 Type-safe href (#12994)
  .changeset/dull-balloons-boil.md
  .changeset/khaki-rocks-cover.md
  .changeset/three-eyes-flow.md
  integration/cli-test.ts
  integration/helpers/vite-5-template/tsconfig.json
  integration/helpers/vite-6-template/tsconfig.json
  integration/helpers/vite-cloudflare-template/tsconfig.json
  integration/typegen-test.ts
  packages/react-router-dev/__tests__/cli-reveal-test.ts
  packages/react-router-dev/__tests__/cli-routes-test.ts
  packages/react-router-dev/__tests__/cli-test.ts
  packages/react-router-dev/cli/run.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/params.ts
  packages/react-router-dev/typegen/route.ts
  packages/react-router/__tests__/href-test.ts
  packages/react-router/index.ts
  packages/react-router/lib/href.ts
  packages/react-router/lib/types/register.ts
Labels: CLA Signed

#12264 feat(react-router): add `SerializesTo` brand type
  .changeset/sour-avocados-lick.md
  contributors.yml
  packages/react-router/index.ts
  packages/react-router/lib/types/route-data.ts
  packages/react-router/lib/types/serializes-to.ts
Labels: CLA Signed, react-router, feat:typescript

#13013 Add e2e test for spa mode disabling sigle fetch
  integration/vite-spa-mode-test.ts
Labels: CLA Signed

#13015 Add docs on unstable release process
  docs/community/api-development-strategy.md
  docs/upgrading/future.md
Labels: CLA Signed

#13016 Lazy load Cloudflare platform proxy
  .changeset/slow-coats-arrive.md
  packages/react-router-dev/vite/cloudflare-dev-proxy.ts
Labels: CLA Signed, @react-router/dev

#13021 Fix a few edge case bugs with hybrid ssr:false/prerender scenarios
  .changeset/nice-wombats-perform.md
  .changeset/nice-wombats-perform2.md
  integration/vite-prerender-test.ts
  integration/vite-spa-mode-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13025 test: update esbuild-register
  packages/create-react-router/package.json
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#12990 fix: typos in documentation files
  contributors.yml
  packages/react-router-dev/vite/resolve-file-url.ts
  packages/react-router-node/stream.ts
Labels: CLA Signed

#13029 docs: fix pre-rendering typo
  contributors.yml
  docs/how-to/pre-rendering.md
Labels: CLA Signed

#13039 fix: prerendering binary files
  .changeset/thick-meals-shout.md
  contributors.yml
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#13034 fix(react-router-dev): add --save-dev command on md
  contributors.yml
  packages/react-router-dev/README.md
Labels: CLA Signed

#13007 Support optimizing `ssr` environment dependencies
  .changeset/tough-rats-sparkle.md
  contributors.yml
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13047 Fix clientLoader calls to serverLoader for prerendered routes
  .changeset/orange-balloons-bathe.md
  integration/vite-prerender-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13049 Update invalid exports messaging
  .changeset/weak-mayflies-lie.md
  docs/how-to/pre-rendering.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#13045 Scope helper environment to only handle CSS
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/styles.ts
Labels: CLA Signed, @react-router/dev

#13054 Avoid `ssrLoadModule` usage with Vite Environment API
  .changeset/new-houses-hug.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13040 Add typecheck script to packages
  .gitignore
  integration/vite-spa-mode-test.ts
  packages/create-react-router/package.json
  packages/react-router-architect/package.json
  packages/react-router-cloudflare/package.json
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dom/package.json
  packages/react-router-express/package.json
  packages/react-router-fs-routes/package.json
  packages/react-router-node/package.json
  packages/react-router-node/tsconfig.json
  packages/react-router-serve/package.json
  packages/react-router/lib/dom/ssr/links.ts
  packages/react-router/lib/server-runtime/entry.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/package.json
  packages/react-router/tsconfig.json
Labels: CLA Signed

#12898 fix `_root.data` fetch when `basename` is set, closes #12295
  .changeset/short-comics-fly.md
  contributors.yml
  integration/single-fetch-test.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13065 docs(CHANGELOG): fix typo
  CHANGELOG.md
  contributors.yml
Labels: docs, CLA Signed

#13064 feat(express): support Express v5
  contributors.yml
  packages/react-router-express/package.json
Labels: CLA Signed, @react-router/express

#13023 Only import the root route when SSRing SPA mode's index.html
  .changeset/modern-forks-ring.md
  integration/vite-spa-mode-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#13077 Fix support for custom `build.assetsDir`
  .changeset/gold-insects-remain.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13082 Fix usage of `prerender` option with `serverBundles`
  .changeset/dry-impalas-live.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13066 Fix critical CSS with custom `Vite.DevEnvironment`
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/styles.ts
  packages/react-router/lib/dom/global.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/entry.ts
  packages/react-router/lib/server-runtime/build.ts
  packages/react-router/lib/server-runtime/dev.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/serverHandoff.ts
Labels: CLA Signed, react-router, @react-router/dev

#13095 docs(pending-ui): optimistic ui type mismatch fix
  contributors.yml
  docs/start/framework/pending-ui.md
Labels: CLA Signed

#13061 Detect lazy route discovery manifest version mismatches and trigger reloads
  .changeset/real-adults-protect.md
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13098 Fix custom client `build.rollupOptions.output.entryFileNames`
  .changeset/afraid-tigers-promise.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13108 Fix hash issue for matchRoutes optimization
  .changeset/witty-birds-fetch.md
  packages/router/__tests__/navigation-test.ts
  packages/router/router.ts
Labels: CLA Signed

#13113 Skip resource route flow in dev mode when SPA mode is enabled
  .changeset/cool-pillows-sing.md
  packages/react-router/__tests__/server-runtime/handler-test.ts
  packages/react-router/__tests__/server-runtime/server-test.ts
  packages/react-router/__tests__/server-runtime/utils.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13107 Fix custom SSR build input with `serverBundles`
  .changeset/pretty-flies-crash.md
  integration/vite-server-bundles-test.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13123 fix: component in routing.md to element
  contributors.yml
  docs/start/library/routing.md
Labels: CLA Signed

#13133 Remove unused Vite file system watcher
  .changeset/ninety-otters-repeat.md
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/ssr-externals.ts
  packages/react-router-dev/vite/vite-node.ts
Labels: CLA Signed, @react-router/dev

#13135 docs(start/library/routing): fix component name
  contributors.yml
  docs/start/library/routing.md
Labels: docs, CLA Signed

#13134 chore(dev): remove unused dependencies
  .changeset/lucky-icons-tap.md
  contributors.yml
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, @react-router/dev

#13139 Fix types for `loaderData` and `actionData` that contain `Record`s
  .changeset/orange-meals-repair.md
  packages/react-router/lib/types/serializes-to.ts
Labels: CLA Signed

#13131 do not typegen params for layout routes with a corresponding index
  .changeset/yellow-glasses-sort.md
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed

#13140 Fix duplicated entries in typegen for layout routes and their corresponding index route
  .changeset/yellow-glasses-sort.md
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed
