Repository remix-run/react-router, pull requests merged in 2025-10, with the labels that each got.

#14406 fix(docs): correct unclosed Route tag in JSX example
  contributors.yml
  docs/api/components/Routes.md
  packages/react-router/lib/components.tsx
Labels: docs, CLA Signed

#14379 Update valibot dependency to ^1.1.0
  .changeset/green-pens-push.md
  contributors.yml
  packages/react-router-dev/__tests__/route-config-test.ts
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:@react-router/dev

#14407 unstable_useRoute
  .changeset/six-lobsters-think.md
  integration/use-route-test.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router/index.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/types/register.ts
Labels: CLA Signed, pkg:react-router, feat:typescript

#14426 Add some validation for session IDs
  .changeset/quick-eels-join.md
  packages/react-router-node/__tests__/sessions-test.ts
  packages/react-router-node/sessions/fileStorage.ts
Labels: CLA Signed, pkg:@react-router/node
