Repository remix-run/react-router, pull requests merged in 2025-08, with the labels that each got.

#14106 Run clientMiddleware on client navs if no loaders exist
  .changeset/thin-tables-reply.md
  integration/middleware-test.ts
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#14104 Update testing docs for framework mode to discuss typegen types
  docs/start/framework/testing.md
Labels: docs, CLA Signed

#14108 Update middleware docs
  docs/how-to/middleware.md
  docs/start/data/route-object.md
  docs/start/framework/route-module.md
Labels: docs, CLA Signed

#14113 React 18 "React.use" webpack fix
  .changeset/rotten-foxes-deliver.md
  contributors.yml
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: CLA Signed

#14071 Fix RSC bug where outlets replace routes that skip revalidation
  .changeset/young-beans-sneeze.md
  integration/client-data-test.ts
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#14122 Fix RSC client data test
  integration/client-data-test.ts
Labels: feat:rsc

#12206 Fix types for UIMatch to reflect data may be undefined
  .changeset/thick-snails-compete.md
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#14118 Bubble middleware errors back up the ancestor chain
  .changeset/olive-bugs-sing.md
  docs/how-to/middleware.md
  integration/middleware-test.ts
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
  playground/middleware/server.ts
Labels: CLA Signed

#14123 chore(deps): update `@cloudflare/workers-types`
  integration/helpers/cloudflare-dev-proxy-template/package.json
  packages/react-router-cloudflare/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies

#11813 Fix support for optional static segments
  .changeset/eleven-humans-smell.md
  contributors.yml
  packages/react-router/__tests__/matchPath-test.tsx
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#14135 Add support for optional segments in nested absolute routes
  .changeset/bright-bats-wave.md
  packages/react-router/__tests__/path-matching-test.tsx
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#13791 Fix: prendering with basename and ssr:false renders 404s for dynamic routes
  .changeset/fresh-brooms-trade.md
  contributors.yml
  integration/helpers/create-fixture.ts
  integration/vite-prerender-test.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#14100 Add RSC Framework Mode HMR/HDR support
  integration/vite-hmr-hdr-rsc-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/react-router-dev/config/default-rsc-entries/entry.client.tsx
  packages/react-router-dev/package.json
  packages/react-router-dev/tsup.config.ts
  packages/react-router-dev/vite/rsc/plugin.ts
  packages/react-router-dev/vite/rsc/virtual-route-config.ts
  packages/react-router-dev/vite/rsc/virtual-route-modules.ts
  packages/react-router-dev/vite/static/rsc-refresh-utils.mjs
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14136 Handle `meta` and `links` route exports in RSC
  .changeset/purple-papayas-applaud.md
  integration/helpers/rsc-vite-framework/tsconfig.json
  integration/link-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/route-modules.ts
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: CLA Signed, feat:rsc

#14119 chore: generate provenance statements on release
  .github/workflows/release.yml
Labels: CLA Signed

#14148 Add docs for react-router CLI
  docs/api/other-api/dev.md
Labels: docs, CLA Signed

#14155 Use shared build for client data integration tests
  integration/client-data-test.ts
Labels: CLA Signed

#14149 Add MDX route support to RSC Framework Mode
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/vite.ts
  integration/mdx-test.ts
  integration/vite-plugin-order-validation-test.ts
  package.json
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/dev.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/plugins/validate-plugin-order.ts
  packages/react-router-dev/vite/rsc/plugin.ts
  patches/@mdx-js__rollup.patch
  playground/rsc-vite-framework/app/root.tsx
  playground/rsc-vite-framework/app/routes/mdx/route.mdx
  playground/rsc-vite-framework/mdx.d.ts
  playground/rsc-vite-framework/package.json
  playground/rsc-vite-framework/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14173 Make missing `loaderData` conditional in `Route.MetaArgs`
  .changeset/clever-olives-destroy.md
  packages/react-router/lib/types/route-module-annotations.ts
Labels: CLA Signed, feat:typescript, pkg:@react-router/dev

#14176 docs: update imports in installation.md
  contributors.yml
  docs/start/data/installation.md
Labels: CLA Signed

#14169 docs(how-to/middleware): add some extra reference links
  docs/how-to/middleware.md
Labels: docs, CLA Signed

#14179 docs(start/data/installation): fix code highlighting
  docs/start/data/installation.md
Labels: docs, CLA Signed

#14182 Propagate middleware thrown non-redirect responses to the boundary
  .changeset/heavy-months-work.md
  docs/how-to/middleware.md
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#11671 chore: Compatible with createRouter where basename does not start with /
  .changeset/tender-sheep-bake.md
  contributors.yml
  packages/react-router/__tests__/router/router-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#14198 Fix TypeError if you throw from patchRoutesOnNavigation when no partial matches exist
  .changeset/real-rules-compare.md
  packages/react-router/__tests__/router/lazy-discovery-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#14201 Update alpha-beta approval requirements
  GOVERNANCE.md
Labels: CLA Signed

#14200 fix: memory leak in entry.server
  .changeset/rotten-parents-care.md
  packages/react-router-dev/config/defaults/entry.server.node.tsx
Labels: CLA Signed, pkg:react-router

#14205 Delay turbo-stream serialization of .data redirects
  .changeset/quiet-cows-build.md
  integration/middleware-test.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
Labels: CLA Signed

#14192 Inject CSS into server-first routes in RSC Framework Mode
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/vite.ts
  integration/vite-css-test.ts
  packages/react-router-dev/vite/rsc/virtual-route-modules.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:react-router, feat:rsc

#14213 fix(react-router/router): remove unused client side middleware future flag
  .changeset/brown-ladybugs-yawn.md
  docs/how-to/middleware.md
  packages/react-router/lib/router/router.ts
Labels: CLA Signed, pkg:react-router, feat:router, feat:middleware

#14219 Improve CSS HMR in RSC Framework Mode
  integration/helpers/rsc-parcel/src/routes/root.tsx
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/rsc-vite/package.json
  integration/vite-css-test.ts
  packages/react-router-dev/package.json
  packages/react-router/lib/rsc/server.ssr.tsx
  playground/rsc-vite-framework/package.json
  playground/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:react-router, pkg:@react-router/dev, feat:rsc

#14237 Improve CSS `?url` HMR in RSC Framework Mode
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/rsc-vite/package.json
  integration/vite-css-test.ts
  packages/react-router-dev/package.json
  playground/rsc-vite-framework/package.json
  playground/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14250 Skip flaky RSC Framework Mode HMR test expectation
  integration/vite-hmr-hdr-test.ts
Labels: CLA Signed

#14248 fix(dev/config): update default RSC entries to support `formState` for progressive enhanced actions
  .changeset/shiny-hotels-guess.md
  integration/action-test.ts
  integration/catch-boundary-data-test.ts
  integration/helpers/create-fixture.ts
  integration/helpers/rsc-parcel-framework/.gitignore
  integration/helpers/rsc-parcel-framework/.parcelrc
  integration/helpers/rsc-parcel-framework/app/entry.browser.tsx
  integration/helpers/rsc-parcel-framework/app/entry.rsc.ts
  integration/helpers/rsc-parcel-framework/app/index.ts
  integration/helpers/rsc-parcel-framework/app/root.tsx
  integration/helpers/rsc-parcel-framework/app/routes.ts
  integration/helpers/rsc-parcel-framework/app/routes/_index.tsx
  integration/helpers/rsc-parcel-framework/package.json
  integration/helpers/rsc-parcel-framework/public/favicon.ico
  integration/helpers/rsc-parcel-framework/start.js
  integration/helpers/rsc-parcel-framework/tsconfig.json
  integration/helpers/rsc-parcel/package.json
  integration/helpers/rsc-vite/src/entry.browser.tsx
  integration/helpers/rsc-vite/src/entry.rsc.tsx
  integration/helpers/rsc-vite/src/entry.ssr.tsx
  integration/helpers/vite.ts
  integration/redirects-test.ts
  integration/rsc/rsc-nojs-test.ts
  integration/rsc/rsc-test.ts
  integration/vite-hmr-hdr-test.ts
  packages/react-router-dev/config/default-rsc-entries/entry.client.tsx
  packages/react-router-dev/config/default-rsc-entries/entry.rsc.tsx
  packages/react-router-dev/config/default-rsc-entries/entry.ssr.tsx
  packages/react-router/lib/rsc/server.ssr.tsx
  playground/rsc-parcel-framework/.gitignore
  playground/rsc-parcel-framework/.parcelrc
  playground/rsc-parcel-framework/app/root.css
  playground/rsc-parcel-framework/app/root.tsx
  playground/rsc-parcel-framework/app/routes.ts
  playground/rsc-parcel-framework/app/routes/_index/actions.ts
  playground/rsc-parcel-framework/app/routes/_index/route.tsx
  playground/rsc-parcel-framework/app/routes/_index/styles.css
  playground/rsc-parcel-framework/app/routes/client-loader-hydrate/route.tsx
  playground/rsc-parcel-framework/app/routes/client-loader-hydrate/styles.module.css
  playground/rsc-parcel-framework/app/routes/client-loader-without-server-loader/route.tsx
  playground/rsc-parcel-framework/app/routes/client-loader-without-server-loader/styles.module.css
  playground/rsc-parcel-framework/app/routes/client-loader/route.tsx
  playground/rsc-parcel-framework/app/routes/client-loader/styles.module.css
  playground/rsc-parcel-framework/app/routes/fixture.client-component/route.tsx
  playground/rsc-parcel-framework/app/routes/fixture.server-component/route.tsx
  playground/rsc-parcel-framework/app/routes/optimistic/form.tsx
  playground/rsc-parcel-framework/app/routes/optimistic/route.tsx
  playground/rsc-parcel-framework/app/routes/server-loader/route.tsx
  playground/rsc-parcel-framework/app/routes/server-loader/styles.module.css
  playground/rsc-parcel-framework/app/server.ts
  playground/rsc-parcel-framework/package.json
  playground/rsc-parcel-framework/tsconfig.json
  playground/rsc-parcel/package.json
  playground/rsc-parcel/src/entry.browser.tsx
  playground/rsc-parcel/src/entry.rsc.ts
  playground/rsc-parcel/src/entry.ssr.tsx
  playground/rsc-vite/src/entry.browser.tsx
  playground/rsc-vite/src/entry.rsc.tsx
  playground/rsc-vite/src/entry.ssr.tsx
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:rsc

#14254 Update `@vitejs/plugin-rsc` to fix HMR issues
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/rsc-vite/package.json
  integration/vite-css-test.ts
  packages/react-router-dev/package.json
  playground/rsc-vite-framework/package.json
  playground/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc

#14261 fix: react-server Await component
  .changeset/cool-readers-attack.md
  integration/helpers/rsc-vite/server.js
  integration/rsc/rsc-test.ts
  packages/react-router/index-react-server-client.ts
  packages/react-router/index-react-server.ts
  packages/react-router/index.ts
  packages/react-router/lib/context.ts
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#14255 Fix stable middleware changeset typo
  .changeset/shy-lemons-boil.md
  contributors.yml
Labels: CLA Signed

#14262 Make `href` available in a react-server context
  .changeset/khaki-dogs-rescue.md
  packages/react-router/index-react-server.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#14263 fix(rsc): add `import.meta.hot.accept` to rsc entry
  packages/react-router-dev/config/default-rsc-entries/entry.rsc.tsx
  playground/rsc-vite/src/entry.rsc.tsx
Labels: CLA Signed

#14264 Add `basename` support to RSC Framework Mode
  .changeset/flat-shoes-own.md
  integration/helpers/rsc-vite-framework/package.json
  integration/helpers/rsc-vite-framework/start.js
  integration/helpers/rsc-vite/package.json
  integration/helpers/vite.ts
  integration/vite-basename-test.ts
  integration/vite-css-test.ts
  packages/react-router-dev/config/default-rsc-entries/entry.rsc.tsx
  packages/react-router-dev/package.json
  packages/react-router-dev/vite/rsc/plugin.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/hydration.tsx
  packages/react-router/lib/rsc/browser.tsx
  playground/rsc-vite-framework/package.json
  playground/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev, feat:vite, feat:rsc
