Repository remix-run/react-router, pull requests merged in 2025-03, with the labels that each got.

#13143 docs: refresh contributing bug section
  contributors.yml
  docs/community/contributing.md
Labels: CLA Signed

#13160 Move Split Route Modules docs to release notes
  CHANGELOG.md
  docs/explanation/code-splitting.md
Labels: CLA Signed

#13152 Generate types for `virtual:react-router/server-build`
  .changeset/silver-peas-shop.md
  integration/helpers/vite-plugin-cloudflare-template/workers/app.ts
  integration/typegen-test.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/server-runtime/build.ts
  packages/react-router/lib/server-runtime/server.ts
  playground/vite-plugin-cloudflare/workers/app.ts
Labels: CLA Signed, @react-router/dev

#13167 chore: fix lockfile
  pnpm-lock.yaml
Labels: CLA Signed

#13172 Remove middleware depth restrictions
  .changeset/popular-hats-love.md
  integration/middleware-test.ts
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13170 fix(react-router): fix JSDoc types for context
  .changeset/lovely-cups-sniff.md
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed, react-router

#13070 docs(how-to/spa): fix typo
  contributors.yml
  docs/how-to/spa.md
Labels: docs, CLA Signed

#13185 fix typo
  CHANGELOG.md
  contributors.yml
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13190 Fix typo
  contributors.yml
  packages/react-router/lib/server-runtime/routes.ts
Labels: CLA Signed

#13214 docs(start/framework/custom): fix typo
  docs/start/framework/custom.md
Labels: docs, CLA Signed

#13183 Support flexible ordering of Vite plugins that override SSR environment
  .changeset/dull-hotels-battle.md
  integration/helpers/vite-plugin-cloudflare-template/package.json
  integration/vite-plugin-cloudflare-test.ts
  packages/react-router-dev/vite/plugin.ts
  pnpm-lock.yaml
Labels: CLA Signed

#13184 Remove Vite server hooks in child compiler plugins
  .changeset/eleven-oranges-cheat.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#13215 Fix Windows CI
  integration/form-test.ts
  integration/playwright.config.ts
  integration/split-route-modules-test.ts
Labels: CLA Signed

#13199 Change middleware return type from void to undefined
  .changeset/unlucky-pumas-buy.md
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#13204 Fix `RequestHandler` `loadContext` type when middleware is enabled
  .changeset/few-months-begin.md
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13229 docs(start/modes): fix links
  contributors.yml
  docs/start/modes.md
Labels: docs, CLA Signed

#13230 docs(index): fix link
  contributors.yml
  docs/index.md
Labels: docs, CLA Signed

#13238 Fix validation of split route modules for root route
  .changeset/cuddly-dots-hear.md
  integration/split-route-modules-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13180 Stop leaking internal MiddlewareError implementation detail
  .changeset/clever-sheep-draw.md
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13221 Fix shouldRevalidate behavior in clientLoader-only routes
  .changeset/three-oranges-sort.md
  integration/single-fetch-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13203 Ensure ancestor pathless/index routes are loaded via manifest requests
  .changeset/plenty-jeans-lie.md
  integration/fog-of-war-test.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13222 Fix root loader data on initial load redirects in SPA mode
  .changeset/four-ligers-search.md
  integration/vite-spa-mode-test.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
Labels: CLA Signed

#13246 docs(hooks/use-blocker): add warning about data routers
  contributors.yml
  docs/hooks/use-blocker.md
Labels: docs, CLA Signed

#13249 Fix grammatical error
  contributors.yml
  docs/start/modes.md
Labels: CLA Signed

#13210 Add client middleware to split route modules
  .changeset/large-shoes-live.md
  .changeset/silent-apples-return.md
  .changeset/strong-countries-tap.md
  integration/middleware-test.ts
  packages/react-router-dev/manifest.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/route-chunks.ts
  packages/react-router-dev/vite/static/refresh-utils.cjs
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/context.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  playground/middleware/dev-server.ts
  playground/middleware/react-router.config.ts
Labels: CLA Signed, react-router, @react-router/dev

#13257 Fix path in prerender error message
  .changeset/clever-waves-drum.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13267 fix(dev/typegen): Fix virtual module typegen with `moduleDetection: "force"`
  .changeset/honest-moles-brush.md
  integration/typegen-test.ts
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed, @react-router/dev

#13260 Dedupe calls to `route.lazy` functions
  .changeset/green-windows-itch.md
  packages/react-router/__tests__/router/data-strategy-test.ts
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/__tests__/router/utils/data-router-setup.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed, react-router

#13311 Fix middleware return types
  .changeset/gentle-gifts-kneel.md
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#13305 Handle custom base for critical CSS with Vite Env API
  .changeset/six-mugs-scream.md
  integration/helpers/vite.ts
  integration/vite-css-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#13258 Add Wrangler v4 to `@react-router/dev` peer dep range
  .changeset/late-rings-confess.md
  contributors.yml
  integration/helpers/cloudflare-dev-proxy-template/package.json
  integration/helpers/cloudflare-dev-proxy-template/tsconfig.json
  integration/helpers/vite-plugin-cloudflare-template/package.json
  integration/helpers/vite-plugin-cloudflare-template/tsconfig.cloudflare.json
  integration/helpers/vite-plugin-cloudflare-template/worker-configuration.d.ts
  integration/helpers/vite-plugin-cloudflare-template/wrangler.toml
  integration/vite-cloudflare-test.ts
  packages/react-router-cloudflare/package.json
  packages/react-router-dev/package.json
  playground/vite-plugin-cloudflare/package.json
  playground/vite-plugin-cloudflare/tsconfig.cloudflare.json
  playground/vite-plugin-cloudflare/worker-configuration.d.ts
  playground/vite-plugin-cloudflare/wrangler.toml
  pnpm-lock.yaml
Labels: CLA Signed, @react-router/dev

#13323 Updated the upgrade from remix guide to use the correct vite plugin
  contributors.yml
  docs/upgrading/remix.md
Labels: CLA Signed

#13328 docs: fix import order
  docs/start/data/custom.md
Labels: CLA Signed

#13333 Add `rolldown-vite` playground
  playground/framework-rolldown-vite/.gitignore
  playground/framework-rolldown-vite/app/root.tsx
  playground/framework-rolldown-vite/app/routes.ts
  playground/framework-rolldown-vite/app/routes/_index.tsx
  playground/framework-rolldown-vite/app/routes/product.tsx
  playground/framework-rolldown-vite/package.json
  playground/framework-rolldown-vite/public/favicon.ico
  playground/framework-rolldown-vite/react-router.config.ts
  playground/framework-rolldown-vite/tsconfig.json
  playground/framework-rolldown-vite/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed
