Repository remix-run/react-router, pull requests merged in 2025-01, with the labels that each got.

#12669 Update package.json to fix issue #12642
  contributors.yml
  tutorials/address-book/package.json
Labels: CLA Signed

#12673 "Using Both Loaders" example has wrong type for the client loader arg
  contributors.yml
  docs/start/framework/data-loading.md
Labels: CLA Signed

#12677 Simplify test resolution of Vite dependency
  integration/helpers/vite.ts
  packages/react-router-dev/__tests__/cli-test.ts
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/config/is-react-router-repo.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/dev.ts
  packages/react-router-dev/vite/import-vite-esm-sync.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/resolve-file-url.ts
  packages/react-router-dev/vite/styles.ts
  packages/react-router-dev/vite/vite-node.ts
  packages/react-router-dev/vite/vite.ts
Labels: CLA Signed

#12679 Add vite-ecosystem-ci scripts
  package.json
Labels: CLA Signed

#12674 Fix fetcher data persistence/cleanup issues
  .changeset/beige-ants-pay.md
  packages/react-router-dom/__tests__/data-browser-router-test.tsx
  packages/react-router-dom/index.tsx
  packages/router/__tests__/fetchers-test.ts
  packages/router/router.ts
Labels: CLA Signed

#12681 Fix fetcher data cleanup
  .changeset/beige-ants-pay.md
  packages/react-router/__tests__/dom/data-browser-router-test.tsx
  packages/react-router/__tests__/router/fetchers-test.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12644 Fix configuring resolve conditions for Vite v6
  .changeset/afraid-jeans-drive.md
  contributors.yml
  packages/react-router-dev/vite/cloudflare-dev-proxy.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12684 Handle prerendering paths missing a leading slash
  .changeset/lazy-elephants-tell.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12694 do not rely on `symbol` for filtering out `redirect`s from loader data
  .changeset/calm-cycles-dress.md
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/types/route-data.ts
Labels: CLA Signed

#12686 Fix react-refresh source maps
  .changeset/polite-clocks-shake.md
  contributors.yml
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#11886 chore: fix some comments
  contributors.yml
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#12701 Update headers.md to clarify that `Set-Cookie` is automatically preserved
  docs/how-to/headers.md
Labels: CLA Signed

#12703 Remove playground entry files
  playground/framework-express/app/entry.client.tsx
  playground/framework-express/app/entry.server.tsx
  playground/framework-spa/app/entry.client.tsx
  playground/framework-spa/app/entry.server.tsx
  playground/framework/app/entry.client.tsx
  playground/framework/app/entry.server.tsx
Labels: CLA Signed

#12618 docs: Added guide on combining `configure routes` and `file routes`
  docs/start/framework/routing.md
Labels: docs, CLA Signed

#12625 docs: add explanation of `ignoredRouteFiles` option to guide
  docs/how-to/file-route-conventions.md
Labels: docs, CLA Signed

#12710 docs: add additional JSDocs to NavigateOptions
  packages/react-router/lib/context.ts
Labels: docs, CLA Signed

#12601 docs: add HydrateFallback to the data-loading doc
  docs/how-to/client-data.md
  docs/how-to/spa.md
  docs/start/framework/data-loading.md
Labels: CLA Signed

#12732 Fix publish script
  scripts/publish.js
Labels: CLA Signed

#12729 fix(dev): Use `module-sync` server condition when enabled
  .changeset/new-news-decide.md
  packages/react-router-dev/module-sync-enabled/false.cjs
  packages/react-router-dev/module-sync-enabled/index.d.mts
  packages/react-router-dev/module-sync-enabled/index.mjs
  packages/react-router-dev/module-sync-enabled/true.mjs
  packages/react-router-dev/package.json
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12738 fix typos in timeout comments
  contributors.yml
  docs/explanation/special-files.md
  packages/react-router-dev/config/defaults/entry.server.node.tsx
Labels: CLA Signed

#12746 Update Playwright to `^1.49.1`
  .gitignore
  integration/package.json
  package.json
  pnpm-lock.yaml
Labels: CLA Signed

#12745 Fix `reveal` and `routes` CLI commands
  .changeset/popular-lobsters-agree.md
  packages/react-router-dev/__tests__/cli-reveal-test.ts
  packages/react-router-dev/__tests__/cli-routes-test.ts
  packages/react-router-dev/__tests__/fixtures/basic/.gitignore
  packages/react-router-dev/__tests__/fixtures/basic/app/root.tsx
  packages/react-router-dev/__tests__/fixtures/basic/app/routes.ts
  packages/react-router-dev/__tests__/fixtures/basic/app/routes/_index.tsx
  packages/react-router-dev/__tests__/fixtures/basic/package.json
  packages/react-router-dev/__tests__/fixtures/basic/public/favicon.ico
  packages/react-router-dev/__tests__/fixtures/basic/tsconfig.json
  packages/react-router-dev/__tests__/fixtures/node/README.md
  packages/react-router-dev/__tests__/fixtures/node/public/favicon.ico
  packages/react-router-dev/__tests__/fixtures/node/remix.env.d.ts
  packages/react-router-dev/__tests__/reveal-test.ts
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12776 chore: add a comma for prefix concerts arr
  contributors.yml
  docs/index.md
Labels: CLA Signed

#12778 Rename the resource route file in the file upload guide
  docs/how-to/file-uploads.md
Labels: CLA Signed

#12789 Update routing.md
  contributors.yml
  docs/start/framework/routing.md
Labels: CLA Signed

#12759 Fix prerendering when using a custom server
  .changeset/twenty-llamas-lick.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12509 Suppress v7 warnings in production build
  contributors.yml
  packages/react-router/lib/deprecations.ts
Labels: CLA Signed

#12760 Properly handle empty body response codes in single fetch requests
  .changeset/fifty-eagles-love.md
  integration/single-fetch-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#12794 Suppress v7 warnings in production build
  .changeset/big-lamps-remain.md
  contributors.yml
  packages/react-router/lib/deprecations.ts
Labels: CLA Signed

#12169 POC optimization for matchRoutes
  .changeset/short-pugs-double.md
  package.json
  packages/react-router/lib/hooks.tsx
  packages/router/router.ts
Labels: CLA Signed

#12799 Dedup route modules types across server-runtime and ssr
  .changeset/eight-monkeys-type.md
  packages/react-router/index.ts
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/server-runtime/routeModules.ts
  packages/react-router/lib/server-runtime/routes.ts
Labels: CLA Signed

#12731 Remove DOM mutation overhead from fog-of-war prefetch
  .changeset/moody-comics-exist.md
  contributors.yml
  packages/react-router/lib/dom/ssr/fog-of-war.ts
Labels: CLA Signed

#12803 Update bug report inline docs
  integration/bug-report-test.ts
Labels: CLA Signed

#12793 docs: fix syntax error in routing.md
  docs/start/framework/routing.md
Labels: CLA Signed

#12637 fix(dev): resolve optimizeDeps entries properly on Windows
  .changeset/gentle-carrots-appear.md
  contributors.yml
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#12842 docs: Remove redundant awaits from formData examples
  contributors.yml
  docs/how-to/status.md
  docs/start/framework/actions.md
Labels: CLA Signed

#12845 Properly bubble headers when throwing a data result
  .changeset/proud-stingrays-wink.md
  packages/router/router.ts
Labels: CLA Signed

#12846 Fix bugs with thrown data headers and duplicated set-cookie headers
  .changeset/rich-pans-fail.md
  .vscode/settings.json
  integration/headers-test.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/server-runtime/headers.ts
Labels: CLA Signed

#12800 Optimization to avoid redundant calls to `matchRoutes`
  .changeset/smooth-mangos-act.md
  packages/react-router/__tests__/dom/ssr/components-test.tsx
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12810 Initial middleware implementation
  .changeset/client-context.md
  .changeset/fresh-buttons-sit.md
  .changeset/middleware.md
  decisions/0014-context-middleware.md
  integration/error-data-request-test.ts
  integration/error-sanitization-test.ts
  integration/middleware-test.ts
  integration/single-fetch-test.ts
  integration/vite-dot-server-test.ts
  integration/vite-prerender-test.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/__tests__/router/context-test.ts
  packages/react-router/__tests__/router/utils/data-router-setup.ts
  packages/react-router/__tests__/server-runtime/handle-error-test.ts
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/server-runtime/data.ts
  packages/react-router/lib/server-runtime/routes.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12847 docs: add progress-enhancement and state-management docs
  docs/explanation/progressive-enhancement.md
  docs/explanation/state-management.md
Labels: CLA Signed

#12856 Scope client side context to the navigation or fetch
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/__tests__/router/data-strategy-test.ts
  packages/react-router/index.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/server-runtime/data.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#12838 Updated Documentation with examples using props
  contributors.yml
  docs/start/framework/data-loading.md
  docs/start/framework/route-module.md
Labels: CLA Signed

#12861 (Docs) Update type safety for AppLoadContext
  contributors.yml
  docs/how-to/route-module-type-safety.md
Labels: docs, CLA Signed

#12872 (Docs) fix typo from #12861
  docs/how-to/route-module-type-safety.md
Labels: CLA Signed

#12882 Limit matchRoutes optimization to client side routers
  .changeset/loud-masks-battle.md
  packages/react-router/__tests__/dom/ssr/components-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#12881 Limit matchRoutes optimization to client side routers
  .changeset/cold-days-act.md
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#12899 Strip search params from FOW path parameter
  .changeset/honest-socks-fail.md
  packages/router/__tests__/lazy-discovery-test.ts
  packages/router/router.ts
Labels: CLA Signed

#12889 Improve prefetch perf for CSS side effects
  .changeset/stupid-mirrors-prove.md
  packages/react-router/lib/dom/ssr/links.ts
  packages/react-router/lib/dom/ssr/routes.tsx
Labels: CLA Signed, react-router

#11871 Split Route Modules
  .changeset/slimy-suns-play.md
  docs/explanation/code-splitting.md
  integration/client-data-test.ts
  integration/helpers/vite.ts
  integration/split-route-modules-test.ts
  integration/vite-spa-mode-test.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/manifest.ts
  packages/react-router-dev/vite/cache.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/route-chunks-test.ts
  packages/react-router-dev/vite/route-chunks.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/links.ts
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
  packages/react-router/lib/dom/ssr/routes.tsx
  playground/split-route-modules-spa/.gitignore
  playground/split-route-modules-spa/app/root.tsx
  playground/split-route-modules-spa/app/routes.ts
  playground/split-route-modules-spa/app/routes/_index.tsx
  playground/split-route-modules-spa/app/routes/semi-splittable.tsx
  playground/split-route-modules-spa/app/routes/splittable.tsx
  playground/split-route-modules-spa/app/routes/unsplittable.tsx
  playground/split-route-modules-spa/package.json
  playground/split-route-modules-spa/public/favicon.ico
  playground/split-route-modules-spa/react-router.config.ts
  playground/split-route-modules-spa/tsconfig.json
  playground/split-route-modules-spa/vite.config.ts
  playground/split-route-modules/.gitignore
  playground/split-route-modules/app/root.tsx
  playground/split-route-modules/app/routes.ts
  playground/split-route-modules/app/routes/_index.tsx
  playground/split-route-modules/app/routes/semi-splittable.tsx
  playground/split-route-modules/app/routes/splittable.tsx
  playground/split-route-modules/app/routes/unsplittable.tsx
  playground/split-route-modules/package.json
  playground/split-route-modules/public/favicon.ico
  playground/split-route-modules/react-router.config.ts
  playground/split-route-modules/tsconfig.json
  playground/split-route-modules/vite.config.ts
  pnpm-lock.yaml
Labels: CLA Signed, v7

#12906 Add route module chunk suffix to build output
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12915 Properly handle interrupted manifest requests
  .changeset/young-stingrays-begin.md
  integration/fog-of-war-test.ts
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#12894 Disable FOW for all ssr:false and tighten up spa mode logic
  .changeset/unlucky-dolphins-chew.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/global.ts
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/entry.ts
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
  packages/react-router/lib/dom/ssr/server.tsx
  packages/react-router/lib/server-runtime/build.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/serverHandoff.ts
Labels: CLA Signed

#12884 Middleware code cleanup
  integration/middleware-test.ts
  integration/resource-routes-test.ts
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12807 Refactor build logic to emulate Vite Environment API
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, @react-router/dev

#12920 Remove redundant Vite preview SPA build config
  packages/react-router-dev/vite/plugin.ts
  playground/framework-spa/package.json
  pnpm-lock.yaml
Labels: CLA Signed, @react-router/dev

#12927 Fix hash issue for matchRoutes optimization
  .changeset/witty-birds-fetch.md
  packages/react-router/__tests__/router/navigation-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12925 Fix CLI arg parsing to allow usage with no arguments
  .changeset/fast-olives-invent.md
  packages/react-router-dev/bin.js
Labels: CLA Signed
