Repository remix-run/react-router, pull requests merged in 2025-04, with the labels that each got.

#13294 Add lazy route property API, use for loading middleware
  .changeset/spicy-lamps-look.md
  docs/start/data/custom.md
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/lib/context.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed, react-router, @react-router/dev

#13163 feat: unstable_subResourceIntegrity
  .changeset/late-falcons-sort.md
  .github/workflows/shared-build.yml
  .github/workflows/shared-integration.yml
  .github/workflows/test.yml
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/manifest.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/entry.ts
  packages/react-router/lib/dom/ssr/fog-of-war.ts
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
  playground/framework/app/root.tsx
  playground/framework/react-router.config.ts
Labels: CLA Signed

#13356 Add a new security docs page starting with CSP docs
  docs/how-to/security.md
Labels: docs, CLA Signed

#13242 fix(react-router): Add better error messaging when `getLoadContext` isn't updated
  .changeset/sixty-tigers-poke.md
  packages/react-router/__tests__/server-runtime/server-test.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed, pkg:react-router

#13363 fix wrong url in useNavigate.md
  contributors.yml
  docs/api/hooks/useNavigate.md
Labels: CLA Signed

#13365 fix: properly handle redirects in prerendered pages
  .changeset/smart-ligers-lay.md
  integration/vite-prerender-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/server-runtime/routes.ts
Labels: CLA Signed, pkg:react-router, pkg:@react-router/dev

#13380 Revalidate prerendered paths when param values change
  .changeset/orange-sloths-tease.md
  integration/vite-prerender-test.ts
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed, pkg:react-router, feat:prerender

#13383 Refactor lazy tests
  packages/react-router/__tests__/router/data-strategy-test.ts
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/__tests__/router/utils/data-router-setup.ts
Labels: CLA Signed

#13376 Skip `route.lazy` hydration properties after hydration
  .changeset/happy-spoons-watch.md
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/__tests__/router/utils/data-router-setup.ts
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed, pkg:@react-router/dev

#13253 refactor(react-router): internal data strategy
  .changeset/fair-weeks-beam.md
  .changeset/yellow-mangos-impress.md
  integration/single-fetch-test.ts
  integration/vite-prerender-test.ts
  packages/react-router/__tests__/router/data-strategy-test.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed, pkg:react-router

#13381 Update LoaderFunctionArgs and friends when middleware is enabled
  .changeset/violet-carrots-work.md
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed, pkg:react-router

#13223 Stop inserting null placeholders for non-executed loaders in staticHandler.query
  .changeset/smart-ads-doubt.md
  packages/react-router/__tests__/dom/data-static-router-test.tsx
  packages/react-router/__tests__/router/lazy-test.ts
  packages/react-router/__tests__/router/ssr-test.ts
  packages/react-router/__tests__/server-runtime/server-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13344 Refactor dataStrategy for easier RSC abstraction
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/server-runtime/routes.ts
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
Labels: CLA Signed

#13394 Fix flaky split route modules test
  integration/split-route-modules-test.ts
Labels: CLA Signed

#13392 Remove missing react-router exports in tests
  integration/action-test.ts
  integration/blocking-test.ts
  integration/client-data-test.ts
  integration/error-boundary-test.ts
  integration/fetch-globals-test.ts
  integration/fetcher-test.ts
  integration/link-test.ts
  integration/multiple-cookies-test.ts
  integration/redirects-test.ts
  integration/resource-routes-test.ts
  integration/revalidate-test.ts
  integration/scroll-test.ts
  integration/transition-test.ts
Labels: CLA Signed

#13395 Add `unstable_runClientMiddleware` API for `dataStrategy`
  .changeset/silent-snakes-mix.md
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
Labels: CLA Signed

#13396 Refactor dataStrategy for better use with RSC
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13400 chore(react-router): remove `@types/cookie` dependency
  packages/react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:react-router

#13393 docs(start): fix links
  contributors.yml
  docs/start/data/data-loading.md
  docs/start/data/route-object.md
  docs/start/declarative/navigating.md
  docs/start/declarative/routing.md
Labels: docs, CLA Signed

#13409 Slight refactor of fetchAndDecode for RSC
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13411 Update sessions-and-cookies.md
  contributors.yml
  docs/explanation/sessions-and-cookies.md
Labels: CLA Signed

#13423 Minor refactors to support RSC
  packages/react-router/index.ts
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/hydration.tsx
  packages/react-router/lib/dom/ssr/routes.tsx
  packages/react-router/lib/dom/ssr/server.tsx
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13428 docs: fix install link for Declarative Mode
  contributors.yml
  docs/start/modes.md
Labels: CLA Signed

#13443 Update Routes.md - Correct typo in code sample
  contributors.yml
  docs/api/components/Routes.md
Labels: CLA Signed

#13448 update session documentation links
  .changeset/plenty-hounds-heal.md
  contributors.yml
  docs/api/utils/isSession.md
  llm.txt
  packages/react-router/__tests__/server-runtime/sessions-test.ts
  packages/react-router/lib/server-runtime/sessions.ts
Labels: CLA Signed

#13364 Restore handling of 204 "soft" redirects on data requests
  .changeset/new-hornets-run.md
  integration/helpers/vite.ts
  integration/single-fetch-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/server-runtime/server.ts
  packages/react-router/lib/server-runtime/single-fetch.ts
Labels: CLA Signed, review

#13453 Adjust approach for prerendering/SPA mode via headers
  .changeset/stale-bats-swim.md
  integration/vite-prerender-test.ts
  integration/vite-spa-mode-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router/lib/server-runtime/dev.ts
  packages/react-router/lib/server-runtime/routes.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13415 Add timeout section to streaming wiki
  contributors.yml
  docs/how-to/suspense.md
Labels: CLA Signed

#13477 Handle redirects from hydrating clientLoaders
  .changeset/smooth-donuts-bake.md
  integration/client-data-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13480 Don't trigger error boundary prior to lazy route discovery manifest mismatch reload
  .changeset/silly-ligers-dress.md
  packages/react-router/lib/dom/ssr/fog-of-war.ts
Labels: CLA Signed

#13481 fix handleError params values on dynamic param data calls
  .changeset/pink-candles-allow.md
  packages/react-router/__tests__/server-runtime/handle-error-test.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#13472 Fix root directory resolution logic
  .changeset/bright-experts-grab.md
  .changeset/cold-seals-count.md
  .changeset/forty-ants-teach.md
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/config/config.ts
Labels: CLA Signed, pkg:@react-router/dev

#13488 Fix handleError test
  packages/react-router/__tests__/server-runtime/handle-error-test.ts
Labels: CLA Signed

#13485 Honor `--mode` flag in `routes.ts` context
  .changeset/dirty-balloons-stare.md
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/vite/build.ts
  packages/react-router-dev/vite/cloudflare-dev-proxy.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev

#13489 Ensure `vite-node` doesn't load PostCSS config
  .changeset/little-cups-deliver.md
  packages/react-router-dev/vite/vite-node.ts
Labels: CLA Signed, pkg:@react-router/dev

#13491 Fix `assetsDir` in `entryFileNames` with Vite Env API
  .changeset/rude-cobras-warn.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev

#13496 Avoid hydration error if a server loader returned undefined
  .changeset/curvy-queens-hug.md
  integration/single-fetch-test.ts
  packages/react-router/__tests__/router/router-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13498 Fix `react-router` module augmentation for `NodeNext`
  .changeset/afraid-games-rush.md
  packages/react-router/package.json
Labels: CLA Signed

#13499 Fix `TS2300: Duplicate identifier` errors caused by generated types
  .changeset/witty-brooms-work.md
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed

#13502 Prevent invalid warning for v7_relativeSplatPath
  .changeset/purple-gifts-bake.md
  build.utils.d.ts
  packages/react-router/lib/deprecations.ts
Labels: CLA Signed

#13500 fix initial load 404 scenarios in data mode
  .changeset/fast-planets-matter.md
  packages/react-router/__tests__/router/router-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#12319 Improve config change handling
  .changeset/stupid-kiwis-laugh.md
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/vite-node.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite

#13501 refactor
  packages/react-router-dev/typegen/index.ts
Labels: CLA Signed

#13503 Get critical CSS in dev from client env
  .changeset/proud-needles-destroy.md
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/styles.ts
Labels: CLA Signed, pkg:@react-router/dev

#12943 add missing location type import
  contributors.yml
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#13461 feat(react-router): only render dev warnings in dev
  .changeset/thirty-bugs-jump.md
  contributors.yml
  packages/react-router/lib/components.tsx
  packages/react-router/lib/context.ts
  packages/react-router/lib/dom/ssr/errorBoundaries.tsx
  packages/react-router/lib/dom/ssr/fallback.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, pkg:react-router

#13506 typegen for future flags
  .changeset/large-lobsters-grin.md
  packages/react-router-dev/typegen/index.ts
  playground/middleware/react-router.config.ts
Labels: CLA Signed

#13510 Detect and handle leading double slash paths
  .changeset/ninety-snails-shout.md
  packages/react-router/__tests__/dom/data-browser-router-test.tsx
  packages/react-router/lib/router/history.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed
