Repository remix-run/react-router, pull requests merged in 2025-07, with the labels that each got.

#13913 test(rsc): provide custom rsc-parcel-framework entries
  integration/helpers/rsc-parcel-framework/app/entry.browser.tsx
  integration/helpers/rsc-parcel-framework/app/entry.rsc.ts
  integration/helpers/rsc-parcel-framework/app/index.ts
Labels: CLA Signed

#13758 chore(deps): update Babel deps to latest
  package.json
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:@react-router/dev

#13911 fix(react-router): strip search params from FOW path parameter
  .changeset/honest-socks-fail.md
  packages/react-router/__tests__/router/lazy-discovery-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed, pkg:react-router

#13912 chore(deps): update Vanilla Extract deps to latest
  integration/helpers/vite-5-template/package.json
  integration/helpers/vite-6-template/package.json
  integration/helpers/vite-7-beta-template/package.json
  integration/helpers/vite-rolldown-template/package.json
  integration/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, feat:vite, feat:css

#13914 fix(rsc): test client data, apply minor fixes
  integration/client-data-test.ts
  integration/helpers/create-fixture.ts
  integration/helpers/rsc-parcel-framework/start.js
  integration/package.json
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  packages/react-router/lib/rsc/server.ssr.tsx
  pnpm-lock.yaml
Labels: CLA Signed

#13921 Adds Remix v1 route convention usage in Upgrading Remix doc
  contributors.yml
  docs/upgrading/remix.md
Labels: CLA Signed

#13922 docs: Add modes to all explanation/how to
  docs/explanation/backend-for-frontend.md
  docs/explanation/code-splitting.md
  docs/explanation/concurrency.md
  docs/explanation/hot-module-replacement.md
  docs/explanation/lazy-route-discovery.md
  docs/explanation/progressive-enhancement.md
  docs/explanation/state-management.md
  docs/explanation/type-safety.md
  docs/how-to/accessibility.md
  docs/how-to/client-data.md
  docs/how-to/error-boundary.md
  docs/how-to/error-reporting.md
  docs/how-to/fetchers.md
  docs/how-to/file-route-conventions.md
  docs/how-to/file-uploads.md
  docs/how-to/form-validation.md
  docs/how-to/headers.md
  docs/how-to/navigation-blocking.md
  docs/how-to/pre-rendering.md
  docs/how-to/presets.md
  docs/how-to/resource-routes.md
  docs/how-to/route-module-type-safety.md
  docs/how-to/security.md
  docs/how-to/server-bundles.md
  docs/how-to/spa.md
  docs/how-to/status.md
  docs/how-to/suspense.md
  docs/how-to/view-transitions.md
Labels: docs, CLA Signed

#13924 docs(upgrading/remix): use filename in code blocks
  docs/upgrading/remix.md
Labels: docs, CLA Signed

#13931 fix: allow .mjs extension for route config file
  .changeset/dirty-dolls-pay.md
  packages/react-router-dev/config/config.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:routes.ts

#12489 fix(react-router): fix `Blocker` type
  contributors.yml
  packages/react-router/lib/router/router.ts
Labels: CLA Signed, pkg:react-router, feat:typescript

#13899 docs: add form-vs-fetcher doc
  docs/explanation/form-vs-fetcher.md
Labels: docs, CLA Signed

#13932 test(rsc): fix RSC integration fixture start scripts
  integration/helpers/rsc-parcel-framework/package.json
  integration/helpers/rsc-parcel/package.json
  integration/helpers/rsc-vite/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#13872 fix: clear critical css after initial render in HydratedRouter
  .changeset/great-lobsters-raise.md
  contributors.yml
  packages/react-router-dev/vite/static/refresh-utils.cjs
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/global.ts
Labels: CLA Signed

#13247 Do not throw if the url hash is not a valid URI component
  .changeset/proud-scissors-tickle.md
  contributors.yml
  packages/react-router/lib/dom/lib.tsx
Labels: CLA Signed

#13783 fix(dev): add `isbot` to dependencies
  contributors.yml
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev

#13943 fix(dev/vite): Fix missing styles when Vite's `build.cssCodeSplit` is disabled
  .changeset/cyan-bags-thank.md
  integration/helpers/vite.ts
  integration/vite-css-test.ts
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite

#13926 fix(rsc): add basename support
  docs/api/rsc/matchRSCServerRequest.md
  integration/helpers/rsc-parcel/src/config/basename.ts
  integration/helpers/rsc-parcel/src/server.tsx
  integration/helpers/rsc-vite/src/config/basename.ts
  integration/helpers/rsc-vite/src/entry.rsc.tsx
  integration/rsc/rsc-test.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#13951 fix(rsc): add `requestContext` support
  docs/api/rsc/matchRSCServerRequest.md
  integration/helpers/rsc-parcel/src/config/request-context.ts
  integration/helpers/rsc-parcel/src/server.tsx
  integration/helpers/rsc-vite/src/config/request-context.ts
  integration/helpers/rsc-vite/src/entry.rsc.tsx
  integration/rsc/rsc-test.ts
  packages/react-router/index-react-server.ts
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#13930 docs: Add some docs for unstable middleware
  docs/api/utils/createContext.md
  docs/how-to/middleware.md
Labels: docs, CLA Signed

#13947 docs(api/rsc): add examples
  docs/api/rsc/RSCHydratedRouter.md
  docs/api/rsc/RSCStaticRouter.md
  docs/api/rsc/createCallServer.md
  docs/api/rsc/getRSCStream.md
  docs/api/rsc/matchRSCServerRequest.md
  docs/api/rsc/routeRSCServerRequest.md
Labels: docs, CLA Signed

#13964 fix: retain transition through form submission
  .changeset/fuzzy-bottles-itch.md
  packages/react-router/lib/rsc/browser.tsx
Labels: CLA Signed

#13973 fix(rsc): remove manual error bubbling
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, feat:rsc

#13974 test(rsc): add test for sanitized production errors
  integration/rsc/rsc-test.ts
Labels: CLA Signed

#13978 Always include additional route patches
  .changeset/fuzzy-bottles-itch.md
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#13982 Update useOutletContext.md with detailed information and example
  contributors.yml
  docs/api/hooks/useOutletContext.md
Labels: CLA Signed

#13971 docs: combine and improve RSC docs
  docs/how-to/react-server-components.md
  docs/start/rsc/index.md
  docs/start/rsc/parcel.md
  docs/start/rsc/route-module.md
  docs/start/rsc/routing.md
  docs/start/rsc/vite.md
Labels: docs, CLA Signed

#13995 Remove leftover critical CSS on hydration mismatch
  .changeset/lucky-hotels-complain.md
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/ssr/components.tsx
Labels: CLA Signed, pkg:react-router, feat:vite

#14000 docs: fix grammar
  CHANGELOG.md
  docs/start/modes.md
  docs/upgrading/component-routes.md
  docs/upgrading/remix.md
  docs/upgrading/router-provider.md
Labels: docs, CLA Signed

#14004 Auto-generate docs for components
  .eslintrc
  .github/workflows/docs.yml
  packages/react-router/lib/components.tsx
Labels: CLA Signed

#14007 Inject client route component props during RSC render
  .changeset/neat-jeans-sneeze.md
  integration/rsc/rsc-test.ts
  packages/react-router/index-react-server-client.ts
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#14011 docs(v6migration): absolute link should not be changed to relative
  contributors.yml
  docs/upgrading/v6.md
Labels: CLA Signed

#14014 Add jsdocs for static routers
  .eslintrc
  .github/workflows/docs.yml
  docs/api/utils/createStaticHandler.md
  packages/react-router/lib/dom/server.tsx
Labels: CLA Signed

#14016 docs: remove template in react-server-components.md
  docs/how-to/react-server-components.md
Labels: CLA Signed

#14021 Fix RSC outlet fallback warnings on error
  .changeset/proud-dingos-nail.md
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:rsc

#14038 docs: minor updates
  .github/workflows/docs.yml
  docs/api/components/PrefetchPageLinks.md
  docs/api/components/Scripts.md
  package.json
  packages/react-router/lib/dom/ssr/components.tsx
  scripts/docs.ts
Labels: docs, CLA Signed, pkg:react-router

#14049 Update to Prettier v3 in `@react-router/dev`
  .changeset/strong-grapes-accept.md
  packages/react-router-dev/cli/commands.ts
  packages/react-router-dev/cli/useJavascript.ts
  packages/react-router-dev/package.json
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev

#14046 docs(start/data/route-object): Clarify revalidation default behaviour after an `action` call
  docs/start/data/route-object.md
Labels: docs, CLA Signed

#14009 docs(start/framework/routing): fix typo
  contributors.yml
  docs/start/framework/routing.md
Labels: docs, CLA Signed

#14059 fix(react-router/rsc): remove dependency on `@types/node` in TypeScript declaration files
  .changeset/shiny-owls-glow.md
  contributors.yml
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, pkg:react-router, feat:typescript

#14024 docs(api): add some extra reference links
  packages/react-router/dom-export.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom-export/dom-router-provider.tsx
  packages/react-router/lib/dom-export/hydrated-router.tsx
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/server.tsx
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/dom/ssr/server.tsx
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/router/links.ts
  packages/react-router/lib/router/utils.ts
  packages/react-router/lib/rsc/browser.tsx
  packages/react-router/lib/rsc/html-stream/browser.ts
  packages/react-router/lib/rsc/server.rsc.ts
  packages/react-router/lib/rsc/server.ssr.tsx
Labels: docs, CLA Signed, pkg:react-router

#14060 Fix RSC client data tests
  integration/client-data-test.ts
Labels: CLA Signed, feat:rsc

#14083 docs(explanation/code-splitting): fix typo
  contributors.yml
  docs/explanation/code-splitting.md
Labels: docs, CLA Signed

#14079 docs(api): add some extra reference links
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom-export/hydrated-router.tsx
Labels: docs, CLA Signed, pkg:react-router

#14048 feat(react-router): add `nonce` prop to `Links` & `PrefetchPageLinks`
  .changeset/giant-ligers-mix.md
  packages/react-router/lib/dom/ssr/components.tsx
  packages/react-router/lib/router/links.ts
Labels: CLA Signed, pkg:react-router

#14084 perf: avoid slow searchParams mutation in manifest prefetching
  .changeset/good-months-hope.md
  contributors.yml
  packages/react-router/lib/dom/ssr/fog-of-war.ts
Labels: CLA Signed

#14078 Ensure resource route errors go through handleError w/middleware enabled
  .changeset/cool-pigs-cheer.md
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/router/router.ts
  packages/react-router/lib/server-runtime/server.ts
Labels: CLA Signed

#14093 Handle middlewares returning responses without calling next
  .changeset/grumpy-frogs-greet.md
  .changeset/neat-dolls-join.md
  packages/react-router/__tests__/router/context-middleware-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed
