Repository remix-run/react-router, pull requests merged in 2025-05, with the labels that each got.

#13513 Skip unused `routes.ts` eval before Vite build
  .changeset/ten-pears-wash.md
  packages/react-router-dev/config/config.ts
  packages/react-router-dev/vite/build.ts
Labels: CLA Signed, pkg:@react-router/dev

#13517 Fix broken link in routing.md
  contributors.yml
  docs/start/data/routing.md
Labels: CLA Signed

#13497 feat(react-router): don't bundle `react-router` in `react-router/dom` export
  .changeset/breezy-pets-hug.md
  packages/react-router/__tests__/dom/dom-export-test.tsx
  packages/react-router/tsup.config.ts
Labels: CLA Signed, pkg:react-router

#13519 Update MSW to v2
  contributors.yml
  packages/create-react-router/__tests__/github-mocks.ts
  packages/create-react-router/__tests__/msw.ts
  packages/create-react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed

#13518 Inline turbo-stream@2.4.1 and fix decode ordering of Map/Set instances
  .changeset/six-squids-tickle.md
  packages/react-router/.eslintrc.js
  packages/react-router/__tests__/setup.ts
  packages/react-router/__tests__/vendor/turbo-stream-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/server-runtime/single-fetch.ts
  packages/react-router/package.json
  packages/react-router/vendor/turbo-stream-v2/flatten.ts
  packages/react-router/vendor/turbo-stream-v2/turbo-stream.ts
  packages/react-router/vendor/turbo-stream-v2/unflatten.ts
  packages/react-router/vendor/turbo-stream-v2/utils.ts
  pnpm-lock.yaml
Labels: CLA Signed

#12873 Fix fetcher state stuck on `loading` if a loader redirects
  .changeset/curvy-lobsters-accept.md
  contributors.yml
  packages/react-router/__tests__/router/fetchers-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13522 Preserve status code on clientAction throw data() results
  .changeset/late-hats-yell.md
  packages/react-router/lib/dom/ssr/single-fetch.tsx
Labels: CLA Signed

#13521 Short circuit dataStrategy post processing on aborted requests
  .changeset/twenty-snakes-love.md
  integration/single-fetch-test.ts
  packages/react-router/__tests__/router/revalidate-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13527 Add longer timeout for windows E2E CI runs
  .github/workflows/integration-pr-windows-macos.yml
  .github/workflows/shared-integration.yml
Labels: CLA Signed

#13534 Fix typos
  .github/ISSUE_TEMPLATE/config.yml
  decisions/0003-infer-types-for-useloaderdata-and-useactiondata-from-loader-and-action-via-generics.md
  integration/fetcher-layout-test.ts
  integration/helpers/vite-plugin-cloudflare-template/worker-configuration.d.ts
  playground/vite-plugin-cloudflare/worker-configuration.d.ts
Labels: CLA Signed

#13528 Add component props support to createRoutesStub
  .changeset/eighty-mangos-move.md
  packages/react-router-dev/vite/with-props.ts
  packages/react-router/__tests__/dom/stub-test.tsx
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
Labels: CLA Signed

#13467 fix: better flush assets as they are discovered for a flatter network.
  packages/react-router/lib/rsc/server.ssr.tsx
  packages/react-router/tsup.config.rsc.ts
  packages/react-router/tsup.config.ts
  playground/rsc-vite/src/ssr/entry.ssr.tsx
Labels: CLA Signed

#13511 feat(react-router): stabilize `useRevalidator`'s `revalidate`
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, pkg:react-router

#13542 feat(react-router): stabilize `useRevalidator`'s `revalidate`
  .changeset/healthy-readers-kick.md
  packages/react-router/__tests__/use-revalidator-test.tsx
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed, pkg:react-router

#13538 Fix middleware error bubbling scenarios
  .changeset/tough-dancers-own.md
  integration/middleware-test.ts
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13543 Better types for params
  .changeset/neat-candles-stare.md
  integration/typegen-test.ts
  packages/react-router-dev/typegen/context.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/paths.ts
  packages/react-router/lib/href.ts
  packages/react-router/lib/types/internal.ts
  packages/react-router/lib/types/params.ts
  packages/react-router/lib/types/route-module.ts
  packages/react-router/lib/types/utils.ts
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Labels: CLA Signed, pkg:react-router, feat:typescript, pkg:@react-router/dev

#12996 Skip typegen for routes outside the app directory
  .changeset/funny-paws-divide.md
  contributors.yml
  packages/react-router-dev/typegen/generate.ts
Labels: CLA Signed

#13554 docs(start/data/custom): fix typo
  contributors.yml
  docs/start/data/custom.md
Labels: docs, CLA Signed

#13547 fix(dev): improve server build asset handling
  .changeset/gold-socks-attack.md
  .changeset/rude-lobsters-design.md
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev

#13552 fix(react-router): fix `ClientDataFunctionArgs`' `context`
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed, pkg:react-router, feat:typescript

#13556 chore(architect): update `@architect/functions`
  .changeset/loud-actors-shop.md
  packages/react-router-architect/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:@react-router/architect

#13571 docs(start/data/data-loading): fix typo
  contributors.yml
  docs/start/data/data-loading.md
Labels: docs, CLA Signed

#13563 Update Route.MetaArgs to reflect optional data
  .changeset/big-ladybugs-brush.md
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#13574 Improved typegen
  .changeset/gold-baboons-roll.md
  integration/typegen-test.ts
  packages/react-router-dev/typegen/generate.ts
  packages/react-router-dev/typegen/index.ts
  packages/react-router-dev/typegen/route.ts
  packages/react-router/lib/href.ts
  packages/react-router/lib/types/internal.ts
  packages/react-router/lib/types/params.ts
  packages/react-router/lib/types/register.ts
  packages/react-router/lib/types/route-data.ts
  packages/react-router/lib/types/route-module-annotations.ts
  packages/react-router/lib/types/route-module.ts
Labels: CLA Signed

#13577 RSC Server Code Cleanup
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#13564 Avoid fetcher 404 when lazy route discovery is racing against a navigation
  .changeset/purple-boats-bake.md
  integration/fetcher-test.ts
  packages/react-router/lib/router/router.ts
Labels: CLA Signed

#13569 Fix unit test warnings
  packages/react-router-dev/__tests__/route-config-test.ts
  pnpm-lock.yaml
Labels: CLA Signed, pkg:@react-router/dev

#13558 Update dev dependencies to React 19
  integration/defer-test.ts
  integration/helpers/cloudflare-dev-proxy-template/package.json
  integration/helpers/vite-5-template/package.json
  integration/helpers/vite-6-template/package.json
  integration/helpers/vite-plugin-cloudflare-template/package.json
  integration/helpers/vite-rolldown-template/package.json
  integration/package.json
  integration/prefetch-test.ts
  integration/single-fetch-test.ts
  integration/vite-hmr-hdr-test.ts
  integration/vite-spa-mode-test.ts
  package.json
  packages/react-router-architect/package.json
  packages/react-router-dev/__tests__/fixtures/basic/package.json
  packages/react-router-dom/package.json
  packages/react-router/__tests__/Router-test.tsx
  packages/react-router/__tests__/Routes-test.tsx
  packages/react-router/__tests__/data-memory-router-test.tsx
  packages/react-router/__tests__/data-router-no-dom-test.tsx
  packages/react-router/__tests__/dom/data-browser-router-test.tsx
  packages/react-router/__tests__/dom/data-static-router-test.tsx
  packages/react-router/__tests__/dom/link-click-test.tsx
  packages/react-router/__tests__/dom/link-push-test.tsx
  packages/react-router/__tests__/dom/nav-link-active-test.tsx
  packages/react-router/__tests__/dom/navigate-encode-params-test.tsx
  packages/react-router/__tests__/dom/scroll-restoration-test.tsx
  packages/react-router/__tests__/dom/search-params-test.tsx
  packages/react-router/__tests__/dom/ssr/components-test.tsx
  packages/react-router/__tests__/dom/ssr/meta-test.tsx
  packages/react-router/__tests__/dom/static-location-test.tsx
  packages/react-router/__tests__/dom/static-navigate-test.tsx
  packages/react-router/__tests__/dom/trailing-slashes-test.tsx
  packages/react-router/__tests__/dom/use-blocker-test.tsx
  packages/react-router/__tests__/dom/useLinkClickHandler-test.tsx
  packages/react-router/__tests__/setup.ts
  packages/react-router/__tests__/use-revalidator-test.tsx
  packages/react-router/__tests__/utils/framework.ts
  packages/react-router/package.json
  playground/framework-express/package.json
  playground/framework-rolldown-vite/package.json
  playground/framework-spa/package.json
  playground/framework-vite-5/package.json
  playground/framework/package.json
  playground/middleware/package.json
  playground/split-route-modules-spa/package.json
  playground/split-route-modules/package.json
  playground/vite-plugin-cloudflare/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:react-router, pkg:@react-router/dev, pkg:@react-router/architect, pkg:react-router-dom

#13587 Fix Parcel RSC playground
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  playground/rsc-parcel/src/entry.browser.tsx
  playground/rsc-parcel/src/entry.rsc.ts
  playground/rsc-parcel/src/entry.ssr.tsx
  playground/rsc-parcel/src/routes.ts
  playground/rsc-parcel/tsconfig.json
Labels: CLA Signed

#13593 href replaces splats
  .changeset/unlucky-pigs-chew.md
  packages/react-router/__tests__/href-test.ts
  packages/react-router/lib/href.ts
Labels: CLA Signed

#13591 Normalize `dirent` entry path across node versions when generating SRI manifest
  .changeset/odd-hounds-ring.md
  contributors.yml
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed

#13595 fix href optionals
  .changeset/sweet-parents-hug.md
  integration/typegen-test.ts
  packages/react-router-dev/typegen/generate.ts
Labels: CLA Signed

#13596 docs(tutorials/address-book): fix typo
  contributors.yml
  docs/tutorials/address-book.md
Labels: docs, CLA Signed

#13597 Remove dynamic `react-router` import from RSC code
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#13599 Remove client component wrappers
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/rsc/server.rsc.ts
  playground/rsc-parcel/src/entry.rsc.ts
Labels: feat:rsc

#13600 Use object for `routeRSCServerRequest` args
  packages/react-router/lib/rsc/server.ssr.tsx
  playground/rsc-parcel/src/entry.ssr.tsx
  playground/rsc-vite/src/ssr/entry.ssr.tsx
Labels: CLA Signed, feat:rsc

#13609 Minor cleanups to server.rsc
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed

#13611 Fix RSC ErrorBoundary error prop
  packages/react-router/lib/rsc/server.rsc.ts
Labels: CLA Signed, feat:rsc

#13617 Doc: Fix link in data/testing.md
  docs/start/data/testing.md
Labels: CLA Signed

#13567 Remove hashes on built filenames
  .changeset/small-rocks-grab.md
  integration/prefetch-test.ts
  packages/react-router/index.ts
  packages/react-router/internal-export.ts
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/types/internal-export/params.ts
  packages/react-router/lib/types/internal-export/route-data.ts
  packages/react-router/lib/types/internal-export/route-module-annotations.ts
  packages/react-router/lib/types/internal-export/route-module.ts
  packages/react-router/lib/types/internal.ts
  packages/react-router/lib/types/params.ts
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Labels: CLA Signed

#13562 Remove matchRoutes optimization from render pass
  .changeset/flat-seas-own.md
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#13623 Remove matchRoutes optimization from render pass
  .changeset/green-emus-greet.md
  packages/react-router/lib/hooks.tsx
Labels: CLA Signed

#13628 docs(how-to/fetchers): fix import
  contributors.yml
  docs/how-to/fetchers.md
Labels: docs, CLA Signed

#13627 docs(how-to/view-transitions): add programmatic navigation example
  contributors.yml
  docs/how-to/view-transitions.md
Labels: docs, CLA Signed

#13639 Internal refactor of getDocumentHeaders for re-use with RSC
  .changeset/nice-files-grow.md
  packages/react-router/lib/server-runtime/headers.ts
Labels: CLA Signed, pkg:react-router

#13642 docs(start/framework/route-module): clarify the behaviour of multiple `meta` functions
  contributors.yml
  docs/start/framework/route-module.md
Labels: docs, CLA Signed

#13650 fix: move `with-props` runtime logic to core library
  .changeset/calm-pants-film.md
  integration/prefetch-test.ts
  packages/react-router-dev/vite/plugin.ts
  packages/react-router-dev/vite/with-props.ts
  packages/react-router/index.ts
  packages/react-router/lib/components.tsx
  packages/react-router/lib/dom/ssr/routes-test-stub.tsx
Labels: CLA Signed, pkg:react-router, pkg:@react-router/dev

#13667 Revert tsup changes from build
  .changeset/many-bees-guess.md
  .changeset/small-rocks-grab.md
  CHANGELOG.md
  integration/prefetch-test.ts
  packages/react-router/index.ts
  packages/react-router/internal-export.ts
  packages/react-router/lib/dom/lib.tsx
  packages/react-router/lib/dom/ssr/routeModules.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/types/internal-export/params.ts
  packages/react-router/lib/types/internal.ts
  packages/react-router/lib/types/params.ts
  packages/react-router/lib/types/route-data.ts
  packages/react-router/lib/types/route-module-annotations.ts
  packages/react-router/lib/types/route-module.ts
  packages/react-router/package.json
  packages/react-router/tsup.config.ts
Labels: CLA Signed, pkg:react-router

#13679 chore: gitignore `wrangler types` output
  .eslintignore
  .gitignore
  integration/helpers/vite-plugin-cloudflare-template/package.json
  integration/helpers/vite-plugin-cloudflare-template/worker-configuration.d.ts
  package.json
  playground/vite-plugin-cloudflare/package.json
  playground/vite-plugin-cloudflare/worker-configuration.d.ts
Labels: CLA Signed

#13675 fix(create-react-router): update `tar-fs`
  .changeset/curvy-pears-yawn.md
  packages/create-react-router/package.json
  pnpm-lock.yaml
Labels: CLA Signed, dependencies, pkg:create-react-router

#13687 Add GOVERNANCE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  GOVERNANCE.md
Labels: CLA Signed

#13598 fix(dev): handle critical CSS with absolute `base` and Vite Env API
  .changeset/cyan-cougars-trade.md
  contributors.yml
  packages/react-router-dev/vite/plugin.ts
Labels: CLA Signed, pkg:@react-router/dev, feat:vite

#13663 Fix RSC client loader support
  packages/react-router/lib/dom/ssr/single-fetch.tsx
  packages/react-router/lib/rsc/browser.tsx
Labels: CLA Signed, feat:rsc

#13696 Enable rsc error test
  integration/helpers/rsc-parcel/src/entry.ssr.tsx
  integration/helpers/vite.ts
  integration/rsc/rsc-test.ts
  integration/vite-css-test.ts
Labels: CLA Signed

#13708 wire thrown redirects from actions into the transition lifecycle
  integration/rsc/rsc-test.ts
  packages/react-router/lib/hooks.tsx
  packages/react-router/lib/rsc/browser.tsx
  playground/rsc-vite/src/routes/home/home.client.tsx
  playground/rsc-vite/src/routes/home/home.tsx
Labels: CLA Signed
